Repository TylorS/typed: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .js,.jsx,.ts,.tsx --fix, prettier --write --parser markdown --prose-wrap always

.lintstagedrc:

{
  "*.{ts, tsx}": [
    "eslint --ext .js,.jsx,.ts,.tsx --fix"
  ],
  "*.md": [
    "prettier --write --parser markdown --prose-wrap always"
  ]
}

fix: add assert
  packages/cli/src/cli.ts
  packages/cli/tsconfig.json
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

Publish
  packages/cli/package.json
Due: none

fix: use default export
  packages/cli/src/cli.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

fix: fix up deps
  package.json
  packages/cli/tsconfig.json
  packages/compiler/package.json
  packages/vite-plugin/package.json
  packages/vite-plugin/tsconfig.json
  pnpm-lock.yaml
Due: none

choree: fix langauge-service dep
  packages/compiler/package.json
  pnpm-lock.yaml
Due: none

Publish
  packages/cli/package.json
  packages/compiler/package.json
  packages/vite-plugin/package.json
  pnpm-lock.yaml
Due: none

fix: don't print anything when build step is null/undefined
  packages/cli/src/cli.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

fix: use array
  packages/vite-plugin/src/vite-plugin.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

Publish
  packages/vite-plugin/package.json
Due: none

refactor: async -> sync
  packages/vite-plugin/src/vite-plugin.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

fix: ensure build step is configured properly
  packages/vite-plugin/src/vite-plugin.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

fix: don't use import.meta.env
  packages/framework/src/express/listen.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

Publish
  packages/compiler/package.json
  packages/framework/package.json
  packages/vite-plugin/package.json
Due: none

fix: ensure compiled output doesn't add undefined step
  packages/vite-plugin/package.json
  packages/vite-plugin/src/vite-plugin.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

fix: use process.env for node
  packages/framework/src/express/parsePort.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

fix: allow local dev to work
  example/server.ts
  packages/framework/src/express/listen.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

fix: allow configuring the current url
  packages/framework/src/express/assets.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

fix: pass in url
  example/server.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

feat: improve vite plugin, add preview to cli
  example/pages/baz/baz.ts
  example/server.ts
  package.json
  packages/cli/package.json
  packages/cli/src/ViteCliOptions.ts
  packages/cli/src/cli.ts
  packages/cli/src/command/build.ts
  packages/cli/src/command/preview.ts
  packages/cli/src/command/run.ts
  packages/cli/src/command/serve.ts
  packages/cli/src/helpers.ts
  packages/cli/src/index.ts
  packages/cli/src/runDevServer.ts
  packages/cli/src/runMultibuild.ts
  packages/cli/src/runPreviewServer.ts
  packages/cli/src/runViteNode.ts
  packages/cli/tsconfig.json
  packages/compiler/src/Compiler.ts
  packages/framework/src/IntrinsicServices.ts
  packages/framework/src/Module.ts
  packages/vite-plugin/src/vite-plugin.ts
  pnpm-lock.yaml
  vite.config.js
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

Publish
  packages/cli/package.json
  packages/compiler/package.json
  packages/framework/package.json
  packages/vite-plugin/package.json
  pnpm-lock.yaml
Due: none

chore: update dependencies
  package.json
  packages/cli/package.json
  packages/compiler/package.json
  packages/context/package.json
  packages/context/src/context.ts
  packages/dom/package.json
  packages/framework/package.json
  packages/fx/package.json
  packages/html/package.json
  packages/route/package.json
  packages/router/package.json
  packages/vite-plugin/package.json
  pnpm-lock.yaml
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

Publish
  packages/cli/package.json
  packages/compiler/package.json
  packages/context/package.json
  packages/dom/package.json
  packages/framework/package.json
  packages/fx/package.json
  packages/html/package.json
  packages/route/package.json
  packages/router/package.json
  packages/vite-plugin/package.json
  pnpm-lock.yaml
Due: none

fix: ensure api module type-checks properly in-editor
  packages/compiler/src/makeApiModule.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

fix: enable TS to resolve virtual modules from NPM
  packages/framework/src/virtual-modules.d.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

Publish
  packages/cli/package.json
  packages/compiler/package.json
  packages/framework/package.json
  packages/vite-plugin/package.json
Due: none

feat: begin implementation of decoder package
  packages/decoder/eslintrc.json
  packages/decoder/package.json
  packages/decoder/project.json
  packages/decoder/src/array.ts
  packages/decoder/src/compose.ts
  packages/decoder/src/decoder.ts
  packages/decoder/src/either.ts
  packages/decoder/src/index.ts
  packages/decoder/src/map.ts
  packages/decoder/src/nullable.ts
  packages/decoder/src/number.ts
  packages/decoder/src/option.ts
  packages/decoder/src/optional.ts
  packages/decoder/src/partial.ts
  packages/decoder/src/primitives.ts
  packages/decoder/src/record.ts
  packages/decoder/src/string.ts
  packages/decoder/src/struct.ts
  packages/decoder/src/tuple.ts
  packages/decoder/src/union.ts
  packages/decoder/tsconfig.build.json
  packages/decoder/tsconfig.json
  pnpm-lock.yaml
  tsconfig.base.json
  tsconfig.json
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

docs: add some seed readmes
  packages/benchmark/readme.md
  packages/cli/readme.md
  packages/compiler/readme.md
  packages/context/readme.md
  packages/decoder/readme.md
  packages/dom/readme.md
  packages/framework/readme.md
  packages/fx/readme.md
  packages/html/readme.md
  packages/path/readme.md
  packages/route/readme.md
  packages/router/readme.md
  packages/vite-plugin/readme.md
Due: prettier --write --parser markdown --prose-wrap always

refactor: switch to function encoding, expand struct capabilities
  packages/decoder/src/array.ts
  packages/decoder/src/compose.ts
  packages/decoder/src/decoder.ts
  packages/decoder/src/map.ts
  packages/decoder/src/number.ts
  packages/decoder/src/partial.ts
  packages/decoder/src/primitives.ts
  packages/decoder/src/record.ts
  packages/decoder/src/string.ts
  packages/decoder/src/struct.ts
  packages/decoder/src/tuple.ts
  packages/decoder/src/union.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

refactor: shuffle some things around
  packages/decoder/src/decoder.ts
  packages/decoder/src/index.ts
  packages/decoder/src/optional.ts
  packages/decoder/src/primitives.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

refactor: move nullable to primitives
  packages/decoder/src/index.ts
  packages/decoder/src/nullable.ts
  packages/decoder/src/primitives.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

feat: add error formatting
  packages/decoder/src/formatter.ts
  packages/decoder/src/index.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

chore: upgrade deps
  package.json
  packages/compiler/package.json
  packages/context/package.json
  packages/dom/package.json
  packages/framework/package.json
  packages/fx/package.json
  packages/html/package.json
  packages/route/package.json
  packages/router/package.json
  pnpm-lock.yaml
  tools/updatePackages.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix
