Repository TylorS/typed: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .js,.jsx,.ts,.tsx --fix, prettier --write --parser markdown --prose-wrap always

.lintstagedrc:

{
  "*.{ts, tsx}": [
    "eslint --ext .js,.jsx,.ts,.tsx --fix"
  ],
  "*.md": [
    "prettier --write --parser markdown --prose-wrap always"
  ]
}

feat: fromEmitter + test suite
  packages/fx/src/Emitter.ts
  packages/fx/src/Fx.ts
  packages/fx/src/internal/core.ts
  packages/fx/src/internal/helpers.ts
  packages/fx/src/internal/share.ts
  packages/fx/test/core.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

test: make tests concurrent
  packages/fx/test/core.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

test: add some tests for Stream module
  packages/fx/test/stream.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

feat: Fx fromDequeue/fromHub/toEnqueue
  packages/context/src/Enqueue.ts
  packages/context/src/Queue.ts
  packages/context/test/context.ts
  packages/fx/src/Context/Model.ts
  packages/fx/src/Fx.ts
  packages/fx/src/internal/fx.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

feat: RefRemoteData module
  docs/context/Enqueue.ts.md
  docs/context/Many.ts.md
  docs/context/Queue.ts.md
  docs/dom/DomServices.ts.md
  docs/fx/Emitter.ts.md
  docs/fx/Filtered.ts.md
  docs/fx/Fx.ts.md
  docs/fx/FxEffect.ts.md
  docs/fx/RefArray.ts.md
  docs/fx/RefRemoteData.ts.md
  docs/fx/RefSubject.ts.md
  docs/fx/Sink.ts.md
  docs/fx/Stream.ts.md
  docs/fx/Subject.ts.md
  docs/fx/TypeId.ts.md
  docs/fx/Typeclass.ts.md
  docs/fx/index.ts.md
  docs/path/index.md
  docs/remote-data/index.md
  docs/remote-data/index.ts.md
  docs/route/index.md
  docs/wire/index.md
  packages/fx/package.json
  packages/fx/src/Fx.ts
  packages/fx/src/RefRemoteData.ts
  packages/fx/src/index.ts
  packages/fx/tsconfig.build.json
  packages/remote-data/src/index.ts
  packages/remote-data/test/RemoteData.ts
  pnpm-lock.yaml
Due: eslint --ext .js,.jsx,.ts,.tsx --fix, prettier --write --parser markdown --prose-wrap always

refactor: shuffle around functions to the right place in the file
  packages/fx/src/Fx.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

feat: add error variants of flattening operators
  packages/fx/src/Fx.ts
  packages/fx/src/internal/core.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

chore: update docs
  docs/fx/Fx.ts.md
Due: prettier --write --parser markdown --prose-wrap always

feat: enable converting Fx into a sliding Stream.
  packages/fx/src/Stream.ts
  packages/fx/src/internal/fx.ts
  packages/fx/test/stream.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

test: increase timing to avoid flakiness
  packages/fx/test/stream.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

feat: abstract over pulling a Stream
  packages/fx/src/Pull.ts
  packages/fx/src/Stream.ts
  packages/fx/test/stream.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

feat: toStreamQueued + variants
  packages/fx/src/Stream.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

feat: implement dual for Stream
  docs/fx/Pull.ts.md
  docs/fx/RefArray.ts.md
  docs/fx/RefRemoteData.ts.md
  docs/fx/RefSubject.ts.md
  docs/fx/Sink.ts.md
  docs/fx/Stream.ts.md
  docs/fx/Subject.ts.md
  docs/fx/TypeId.ts.md
  docs/fx/Typeclass.ts.md
  packages/fx/src/Pull.ts
  packages/fx/src/Stream.ts
  packages/fx/test/stream.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix, prettier --write --parser markdown --prose-wrap always

refactor: abstract scheduling of a pull
  packages/fx/src/Pull.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

fix: reorder spans
  examples/fx-tracing/src/index.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

feat: add requestIdleCallback primitive
  packages/fx/src/Schedule.ts
  packages/fx/src/internal/fx.ts
  packages/fx/src/internal/requestIdleCallback.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

refactor: condense Schedule/Scheduler into Idle module
  packages/fx/src/Idle.ts
  packages/fx/src/Schedule.ts
  packages/fx/src/internal/requestIdleCallback.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

chore: upgrade all deps
  package.json
  packages/context/package.json
  packages/dom/package.json
  packages/fx/package.json
  packages/remote-data/package.json
  packages/route/package.json
  pnpm-lock.yaml
Due: none

docs: update docs
  docs/context/index.ts.md
  docs/fx/Context.ts.md
  docs/fx/Fx.ts.md
  docs/fx/Idle.ts.md
  docs/fx/Pull.ts.md
  docs/fx/RefArray.ts.md
  docs/fx/RefRemoteData.ts.md
  docs/fx/RefSubject.ts.md
  docs/fx/Sink.ts.md
  docs/fx/Stream.ts.md
  docs/fx/Subject.ts.md
  docs/fx/TypeId.ts.md
  docs/fx/Typeclass.ts.md
  docs/fx/index.ts.md
  packages/context/src/index.ts
  packages/fx/src/Idle.ts
  packages/fx/src/index.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix, prettier --write --parser markdown --prose-wrap always

docs: fix links to more documentation
  docs/context/index.ts.md
  docs/fx/index.ts.md
  packages/context/src/index.ts
  packages/fx/src/index.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix, prettier --write --parser markdown --prose-wrap always

docs: add some basic information to index.md files
  docs/context/index.md
  docs/dom/index.md
  docs/fx/index.md
  docs/navigation/index.md
  docs/path/index.md
  docs/remote-data/index.md
  docs/route/index.md
  docs/wire/index.md
Due: prettier --write --parser markdown --prose-wrap always

docs: update docgen to use tsconfig files
  packages/dom/docgen.json
  packages/fx/docgen.json
  packages/path/docgen.json
  packages/remote-data/docgen.json
  packages/route/docgen.json
  packages/wire/docgen.json
  scripts/docs-cp.js
  scripts/new-package/files/docgen.json
  scripts/new-package/files/docgen.json.template
Due: none

feat: utilize README for index.md content
  docs/context/index.md
  docs/dom/Document.ts.md
  docs/dom/EventTarget.ts.md
  docs/dom/GlobalThis.ts.md
  docs/dom/Location.ts.md
  docs/dom/Navigator.ts.md
  docs/dom/ParentElement.ts.md
  docs/dom/RootElement.ts.md
  docs/dom/Storage.ts.md
  docs/dom/Window.ts.md
  docs/dom/index.md
  docs/fx/Context/RefArray.ts.md
  docs/fx/Idle.ts.md
  docs/fx/index.md
  docs/path/index.md
  docs/remote-data/index.md
  docs/route/index.md
  docs/wire/index.md
  scripts/docs-cp.js
Due: prettier --write --parser markdown --prose-wrap always

feat: enable using Fx.provide
  packages/fx/src/Fx.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

refactor: remove use of generator
  packages/fx/src/internal/keyed.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

fix: ensure deletions keep latest from external Fx
  packages/fx/src/internal/core-ref-subject.ts
  packages/fx/test/core.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

feat: ensure only 1 update at a time
  packages/fx/src/internal/fx-effect-transform.ts
  packages/fx/src/internal/helpers.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

WIP: progress porting over templating
  packages/template/package.json
  packages/template/src/Directive.ts
  packages/template/src/ElementRef.ts
  packages/template/src/ElementSource.ts
  packages/template/src/Entry.ts
  packages/template/src/EventHandler.ts
  packages/template/src/HtmlChunk.ts
  packages/template/src/Part.ts
  packages/template/src/Parts.ts
  packages/template/src/RenderContext.ts
  packages/template/src/RenderEvent.ts
  packages/template/src/Renderable.ts
  packages/template/src/Rendered.ts
  packages/template/src/internal/parts.ts
  packages/template/tsconfig.build.json
  packages/wire/src/index.ts
  pnpm-lock.yaml
  tsconfig.base.json
  tsconfig.madge.json
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

feat: implement ElementRef + ElementSource
  packages/fx/src/Fx.ts
  packages/template/package.json
  packages/template/src/ElementRef.ts
  packages/template/src/ElementSource.ts
  packages/template/src/Entry.ts
  packages/template/test/ElementRef.ts
  packages/wire/src/index.ts
  pnpm-lock.yaml
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

refactor: rename module HTML -> Html
  packages/template/src/HTML.ts
  packages/template/src/Html.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

WIP: initial version of a integrated parser
  package.json
  packages/fx/test/helpers/benchmark.ts
  packages/fx/tsconfig.test.json
  packages/template/src/Parser.ts
  packages/template/src/Template.ts
  packages/template/src/Token.ts
  packages/template/src/internal/chunks.ts
  packages/template/src/internal/parser.ts
  packages/template/src/internal/tokenizer.ts
  packages/template/test/ElementRef.ts
  packages/template/test/Parser.ts
  packages/template/test/Tokenizer.ts
  packages/template/test/bench.ts
  packages/template/tsconfig.test.json
  pnpm-lock.yaml
  scripts/update-path-references.js
  test/benchmark.ts
  tsconfig.base.json
  tsconfig.madge.json
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

WIP: micro-optimiation
  packages/template/src/internal/parser.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

refactor: fix typos
  packages/template/test/bench.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

perf: reuse attributeValueMatches
  packages/template/src/internal/parser.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

perf: some more micro-optimizations of Parser
  packages/template/src/internal/parser.ts
  packages/template/test/Parser.ts
  packages/template/test/bench.ts
  test/benchmark.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

fix: ensure seasoned template parses
  packages/template/src/internal/parser.ts
  packages/template/test/bench.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

test: add Context.tuple/struct tests
  packages/context/test/context.ts
  packages/template/src/internal/parser.ts
  test/benchmark.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix
