Repository TylorS/typed: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .js,.jsx,.ts,.tsx --fix, prettier --write --parser markdown --prose-wrap always

.lintstagedrc:

{
  "*.{ts, tsx}": [
    "eslint --ext .js,.jsx,.ts,.tsx --fix"
  ],
  "*.md": [
    "prettier --write --parser markdown --prose-wrap always"
  ]
}

feat: use committed hook for native navigation
  packages/navigation/src/internal/fromWindow.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

test: add delay for CI
  packages/navigation/test/Navigation.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

fix: improve the reliability of Stream pulling
  packages/fx/test/stream.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

test: delete flaky test for now
  packages/navigation/test/Navigation.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

chore: fix lint issue
  packages/template/test/bench.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

chore: fix changeset repo
  .changeset/config.json
Due: none

chore: fix navigation package version
  packages/navigation/package.json
Due: none

chore: fix navigation version
  .changeset/fluffy-tomatoes-rest.md
Due: prettier --write --parser markdown --prose-wrap always

chore: fix published versions
  .changeset/smart-items-hammer.md
  .changeset/unlucky-colts-help.md
  packages/context/package.json
  packages/dom/package.json
Due: prettier --write --parser markdown --prose-wrap always

fix: Ensure no internal imports exist
  .changeset/ten-llamas-allow.md
  packages/fx/src/Fx.ts
  packages/navigation/src/internal/fromWindow.ts
  packages/template/src/ElementRef.ts
  packages/template/src/ElementSource.ts
  packages/template/src/Many.ts
  packages/template/src/TemplateInstance.ts
  packages/template/src/internal/hydrate.ts
  packages/template/src/internal/render.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix, prettier --write --parser markdown --prose-wrap always

docs: update readme a bit
  readme.md
Due: prettier --write --parser markdown --prose-wrap always

chore: fix internal ESM imports
  .changeset/sour-melons-hang.md
  packages/async-data/src/internal/async-data.ts
  packages/fx/src/internal/core-ref-subject.ts
  packages/fx/src/internal/core-subject.ts
  packages/fx/src/internal/core.ts
  packages/fx/src/internal/effect-operator.ts
  packages/fx/src/internal/fx-effect-proto.ts
  packages/fx/src/internal/fx-primitive.ts
  packages/fx/src/internal/fx.ts
  packages/fx/src/internal/helpers.ts
  packages/fx/src/internal/keyed.ts
  packages/fx/src/internal/matchers.ts
  packages/fx/src/internal/protos.ts
  packages/fx/src/internal/run.ts
  packages/fx/src/internal/schema-ref-subject.ts
  packages/fx/src/internal/share.ts
  packages/fx/src/internal/strategies.ts
  packages/fx/src/internal/sync-operator.ts
  packages/fx/src/internal/versioned-transform.ts
  packages/fx/src/internal/withKey.ts
  packages/navigation/src/internal/fromWindow.ts
  packages/navigation/src/internal/memory.ts
  packages/navigation/src/internal/shared.ts
  packages/template/src/internal/HydrateContext.ts
  packages/template/src/internal/browser.ts
  packages/template/src/internal/hydrate.ts
  packages/template/src/internal/module-augmentation.ts
  packages/template/src/internal/parser.ts
  packages/template/src/internal/parts.ts
  packages/template/src/internal/render.ts
  packages/template/src/internal/server.ts
  packages/template/src/internal/tokenizer.ts
  packages/template/src/internal/utils.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix, prettier --write --parser markdown --prose-wrap always

fix: combine/struct type signatures
  packages/fx/src/Computed.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

WIP: more thoughts regarding UI lib
  packages/ui/src/index.ts
  packages/ui/src/internal/addEventListener.ts
  packages/ui/src/useClickAway.ts
  packages/ui/src/usePagination.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

chore: upgrade deps
  .changeset/tricky-dots-bathe.md
  examples/counter/package.json
  examples/fx-tracing/package.json
  examples/simple-ssr/package.json
  examples/todomvc/package.json
  package.json
  packages/async-data/package.json
  packages/context/package.json
  packages/dom/package.json
  packages/environment/package.json
  packages/fx/package.json
  packages/id/package.json
  packages/navigation/package.json
  packages/route/package.json
  packages/router/package.json
  packages/template/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Due: prettier --write --parser markdown --prose-wrap always

chore: update Effect deps
  .changeset/fluffy-pumpkins-occur.md
  examples/counter/package.json
  examples/fx-tracing/package.json
  examples/simple-ssr/package.json
  examples/simple-ssr/src/index.ts
  examples/todomvc/package.json
  examples/todomvc/src/infrastructure.ts
  package.json
  packages/async-data/package.json
  packages/async-data/src/Schema.ts
  packages/context/package.json
  packages/dom/package.json
  packages/environment/package.json
  packages/fx/package.json
  packages/fx/src/internal/schema-ref-subject.ts
  packages/id/package.json
  packages/navigation/package.json
  packages/route/package.json
  packages/router/package.json
  packages/template/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Due: eslint --ext .js,.jsx,.ts,.tsx --fix, prettier --write --parser markdown --prose-wrap always

docs: add missing @since tags
  packages/fx/src/Fx.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

docs: add missing module docs
  packages/ui/src/useClickAway.ts
  packages/ui/src/usePagination.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

docs: update docs
  docs/context/index.ts.md
  docs/dom/Storage.ts.md
  docs/fx/Computed.ts.md
  docs/fx/Fx.ts.md
  docs/fx/index.ts.md
  docs/id/index.ts.md
  docs/navigation/index.ts.md
  docs/router/index.ts.md
  docs/template/index.ts.md
  docs/ui/index.ts.md
  docs/ui/useClickAway.ts.md
  docs/ui/usePagination.ts.md
Due: prettier --write --parser markdown --prose-wrap always

WIP: begin working on a final encoding of Fx again
  packages/environment/src/index.ts
  packages/fx/src/v3/Computed.ts
  packages/fx/src/v3/Emitter.ts
  packages/fx/src/v3/Filtered.ts
  packages/fx/src/v3/Fusion.ts
  packages/fx/src/v3/Fx.ts
  packages/fx/src/v3/RefSubject.ts
  packages/fx/src/v3/Sink.ts
  packages/fx/src/v3/Subject.ts
  packages/fx/src/v3/Versioned.ts
  packages/fx/src/v3/internal/core.ts
  packages/fx/src/v3/internal/helpers.ts
  packages/fx/src/v3/internal/protos.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

feat: simplify Fx
  .vscode/settings.json
  packages/fx/src/v3/Fusion.ts
  packages/fx/src/v3/Fx.ts
  packages/fx/src/v3/Push.ts
  packages/fx/src/v3/Sink.ts
  packages/fx/src/v3/Subject.ts
  packages/fx/src/v3/Versioned.ts
  packages/fx/src/v3/internal/core.ts
  packages/fx/src/v3/internal/effect-operator.ts
  packages/fx/src/v3/internal/helpers.ts
  packages/fx/src/v3/internal/protos.ts
  packages/fx/src/v3/internal/sync-operator.ts
  packages/fx/test/benchmarks.ts
  packages/fx/test/helpers/benchmark.ts
  test/benchmark.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

WIP: start of RefSubject
  packages/fx/src/v3/RefSubject.ts
  packages/fx/src/v3/Subject.ts
  packages/fx/src/v3/internal/DeferredRef.ts
  packages/fx/src/v3/internal/core.ts
  packages/fx/src/v3/internal/helpers.ts
  packages/fx/test/v3.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

WIP: more work on v3 Fx implementation
  packages/fx/src/v3/Sink.ts
  packages/fx/src/v3/internal/core.ts
  packages/fx/src/v3/internal/effect-loop-operator.ts
  packages/fx/src/v3/internal/effect-operator.ts
  packages/fx/src/v3/internal/loop-operator.ts
  packages/fx/src/v3/internal/operator.ts
  packages/fx/src/v3/internal/sync-operator.ts
  packages/fx/src/v3/internal/sync-producer.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

WIP: Effect-based operators
  packages/fx/src/v3/RefSubject.ts
  packages/fx/src/v3/Subject.ts
  packages/fx/src/v3/internal/core.ts
  packages/fx/src/v3/internal/effect-producer.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

WIP: Pipeable, Scope for Subjects, filter-map-loop fusion tests
  packages/fx/src/TypeId.ts
  packages/fx/src/v3/Fx.ts
  packages/fx/src/v3/Push.ts
  packages/fx/src/v3/RefSubject.ts
  packages/fx/src/v3/Subject.ts
  packages/fx/src/v3/Versioned.ts
  packages/fx/src/v3/internal/core.ts
  packages/fx/src/v3/internal/loop-operator.ts
  packages/fx/src/v3/internal/protos.ts
  packages/fx/test/benchmarks.ts
  packages/fx/test/v3.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

WIP: more v3 refactorings
  packages/fx/src/v3/internal/core.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

refactor: utilize matchers everywhere
  packages/fx/src/v3/internal/core.ts
  packages/fx/src/v3/internal/effect-loop-operator.ts
  packages/fx/src/v3/internal/effect-operator.ts
  packages/fx/src/v3/internal/loop-operator.ts
  packages/fx/src/v3/internal/sync-operator.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

WIP: higher-order operators
  packages/fx/src/v3/Computed.ts
  packages/fx/src/v3/Filtered.ts
  packages/fx/src/v3/Fx.ts
  packages/fx/src/v3/internal/core.ts
  packages/fx/src/v3/internal/effect-producer.ts
  packages/fx/src/v3/internal/helpers.ts
  packages/fx/test/v3.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

WIP: more v3 work
  package.json
  packages/fx/src/internal/effect-primitive.ts
  packages/fx/src/v3/Sink.ts
  packages/fx/src/v3/internal/core.ts
  packages/fx/src/v3/internal/effect-producer.ts
  packages/fx/src/v3/internal/helpers.ts
  packages/fx/src/v3/internal/sync-producer.ts
  packages/fx/test/v3.ts
  packages/fx/vitest.config.mts
  pnpm-lock.yaml
  vitest.config.mts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

perf: optimize forking
  packages/fx/src/v3/internal/helpers.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

WIP: allow providing attr/property objects to templates
  packages/fx/src/v3/internal/sync-operator.ts
  packages/fx/test/v3.ts
  packages/template/src/HtmlChunk.ts
  packages/template/src/Part.ts
  packages/template/src/Renderable.ts
  packages/template/src/Template.ts
  packages/template/src/internal/parser.ts
  packages/template/src/internal/parts.ts
  packages/template/src/internal/render.ts
  packages/template/src/internal/server.ts
  packages/ui/src/Anchor.ts
  packages/ui/src/Link.ts
  packages/ui/src/internal/dom-properties.ts
  packages/ui/test/Link.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

WIP: much more v3 progress
  packages/fx/src/v3/Fx.ts
  packages/fx/src/v3/Push.ts
  packages/fx/src/v3/RefSubject.ts
  packages/fx/src/v3/Sink.ts
  packages/fx/src/v3/Subject.ts
  packages/fx/src/v3/Versioned.ts
  packages/fx/src/v3/internal/core.ts
  packages/fx/src/v3/internal/effect-loop-operator.ts
  packages/fx/src/v3/internal/helpers.ts
  packages/fx/src/v3/internal/loop-operator.ts
  packages/fx/src/v3/internal/operator.ts
  packages/fx/src/v3/internal/provide.ts
  packages/fx/src/v3/internal/share.ts
  packages/fx/src/v3/internal/sync-operator.ts
  packages/fx/test/v3.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

feat: dual Fx.periodic
  packages/fx/src/v3/Fx.ts
  packages/fx/src/v3/RefSubject.ts
  packages/fx/test/v3.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

feat: RefSubject.tuple
  packages/fx/src/Computed.ts
  packages/fx/src/Filtered.ts
  packages/fx/src/Versioned.ts
  packages/fx/src/internal/versioned-transform.ts
  packages/fx/src/v3/Push.ts
  packages/fx/src/v3/RefSubject.ts
  packages/fx/src/v3/Sink.ts
  packages/fx/src/v3/Versioned.ts
  packages/fx/src/v3/internal/core.ts
  packages/fx/src/v3/internal/helpers.ts
  packages/fx/test/v3.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

WIP: keyed implementation
  packages/fx/src/internal/keyed.ts
  packages/fx/src/v3/Emitter.ts
  packages/fx/src/v3/Fx.ts
  packages/fx/src/v3/RefSubject.ts
  packages/fx/src/v3/Stream.ts
  packages/fx/src/v3/internal/core.ts
  packages/fx/src/v3/internal/diff.ts
  packages/fx/src/v3/internal/helpers.ts
  packages/fx/src/v3/internal/keyed.ts
  packages/fx/test/core.ts
  packages/fx/test/ref-subject.ts
  packages/fx/test/v3.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

fix: ensure switchMap cleans up localized resources during interrupt
  packages/fx/src/v3/internal/helpers.ts
  packages/fx/src/v3/internal/keyed.ts
  packages/fx/test/v3.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

feat: add missing operators to v3 port
  packages/fx/src/v3/Emitter.ts
  packages/fx/src/v3/Fx.ts
  packages/fx/src/v3/RefSubject.ts
  packages/fx/src/v3/Stream.ts
  packages/fx/src/v3/Versioned.ts
  packages/fx/src/v3/internal/UnionToTuple.ts
  packages/fx/src/v3/internal/core.ts
  packages/fx/src/v3/internal/provide.ts
  packages/fx/src/v3/internal/withKey.ts
  packages/fx/test/v3.ts
  packages/template/src/internal/hydrate.ts
  packages/template/src/internal/render.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

fix: use scope to interrupt subject
  packages/fx/src/v3/Subject.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix
