Repository TylorS/typed: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .js,.jsx,.ts,.tsx --fix, prettier --write --parser markdown --prose-wrap always

refactor: inline code
  packages/compiler/src/makeRuntimeModule.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

refactor: getLayoutOptions once
  packages/compiler/src/makeRuntimeModule.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

Publish
  packages/compiler/package.json
  packages/context/package.json
  packages/dom/package.json
  packages/framework/package.json
  packages/fx/package.json
  packages/html/package.json
  packages/nx-plugin/package.json
  packages/route/package.json
  packages/router/package.json
  packages/vite-plugin/package.json
  pnpm-lock.yaml
Due: none

fix: ensure server still loads in development mode
  example/other-pages/helper.ts
  example/other-pages/react/render-react.ts
  example/other-pages/svelte/render-svelte.ts
  package.json
  packages/vite-plugin/src/vite-plugin.ts
  vite.config.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

Publish
  packages/vite-plugin/package.json
Due: none

docs: remove ssg outputs
  readme.md
Due: prettier --write --parser markdown --prose-wrap always

refactor: use Effect.exit
  packages/framework/src/runServerHandler.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

refactor: use HtmlModule type directly
  packages/framework/src/runServerHandler.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

feat: add support for vite base path
  example/other-pages/layout.ts
  example/pages/layout.ts
  example/server.ts
  packages/compiler/src/makeHtmlModule.ts
  packages/framework/src/virtual-modules.d.ts
  packages/router/src/Link.ts
  packages/vite-plugin/src/vite-plugin.ts
  vite.config.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

refactor: remove useless reference
  vite.config.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

feat: add default support for html files
  example/server.ts
  packages/framework/src/express/addAssetDirectories.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

chore: remove message sending
  example/server.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

feat: assetDirectory is not optional
  packages/framework/src/HtmlModule.ts
  packages/framework/src/express/addAssetDirectories.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

fix: ensure base path works in all environments
  example/server.ts
  packages/compiler/src/makeHtmlModule.ts
  packages/framework/src/express/addAssetDirectories.ts
  packages/framework/src/virtual-modules.d.ts
  packages/vite-plugin/src/vite-plugin.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

Publish
  packages/compiler/package.json
  packages/framework/package.json
  packages/router/package.json
  packages/vite-plugin/package.json
Due: none

fix: don't write static manifest
  packages/vite-plugin/src/vite-plugin.ts
  vite.config.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

fix: improve href joining
  packages/compiler/src/makeHtmlModule.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

Publish
  packages/compiler/package.json
  packages/vite-plugin/package.json
Due: none

feat: use more direct import for either
  packages/framework/src/express/runExpressApp.ts
  packages/fx/src/operator/switchMatch.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

feat: provide an easy way to access port
  example/server.ts
  packages/framework/src/express.ts
  packages/framework/src/express/parsePort.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

docs: fix typo
  example/server.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

feat: start a typed CLI
  example/components/counter-with-service.ts
  package.json
  packages/cli/eslintrc.json
  packages/cli/package.json
  packages/cli/project.json
  packages/cli/src/cli.ts
  packages/cli/src/index.ts
  packages/cli/tsconfig.build.json
  packages/cli/tsconfig.json
  packages/compiler/package.json
  packages/dom/src/Document.ts
  packages/dom/src/Fetch.ts
  packages/dom/src/GlobalThis.ts
  packages/dom/src/History.ts
  packages/dom/src/IntersectionObserver.ts
  packages/dom/src/Location.ts
  packages/dom/src/Navigator.ts
  packages/dom/src/ParentElement.ts
  packages/dom/src/Storage.ts
  packages/dom/src/Window.ts
  packages/html/src/RenderContext.ts
  packages/router/src/router.ts
  packages/vite-plugin/src/vite-plugin.ts
  pnpm-lock.yaml
  tsconfig.base.json
  tsconfig.json
  vite.config.js
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

chore: update packages
  packages/framework/package.json
  packages/vite-plugin/package.json
  pnpm-lock.yaml
Due: none

Publish
  packages/cli/package.json
  packages/compiler/package.json
  packages/context/package.json
  packages/dom/package.json
  packages/framework/package.json
  packages/fx/package.json
  packages/html/package.json
  packages/router/package.json
  packages/vite-plugin/package.json
  pnpm-lock.yaml
Due: none

feat: improve express usage
  example/server.ts
  packages/framework/src/express.ts
  packages/framework/src/express/assets.ts
  packages/framework/src/express/listen.ts
  readme.md
Due: eslint --ext .js,.jsx,.ts,.tsx --fix, prettier --write --parser markdown --prose-wrap always

Publish
  packages/compiler/package.json
  packages/framework/package.json
  packages/vite-plugin/package.json
Due: none

chore: delete test.ts
  test.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

chore: lock effect/fp-ts version for now
  package.json
  packages/compiler/package.json
  packages/context/package.json
  packages/dom/package.json
  packages/framework/package.json
  packages/fx/package.json
  packages/html/package.json
  packages/route/package.json
  packages/router/package.json
  pnpm-lock.yaml
Due: none

docs: mention references
  example/server.ts
  example/static.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

test: fix tests
  package.json
  packages/compiler/src/makeHtmlModule.test.ts
  packages/compiler/src/readModules.test.ts
  packages/fx/src/operator/during.test.ts
  packages/fx/src/operator/since.test.ts
  packages/fx/src/operator/until.test.ts
  pnpm-lock.yaml
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

feat: Storage w/ Schema + refactors in dom
  packages/context/src/context.ts
  packages/dom/src/Document.ts
  packages/dom/src/DomSource.ts
  packages/dom/src/Fetch.ts
  packages/dom/src/Storage.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

feat: enable loading Typed vite config
  packages/dom/package.json
  packages/vite-plugin/package.json
  packages/vite-plugin/src/constants.ts
  packages/vite-plugin/src/index.ts
  packages/vite-plugin/src/resolveTypedConfig.test.ts
  packages/vite-plugin/src/resolveTypedConfig.ts
  packages/vite-plugin/src/vite-plugin.ts
  packages/vite-plugin/tsconfig.json
  pnpm-lock.yaml
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

chore: upgrade deps
  package.json
  packages/cli/package.json
  packages/context/package.json
  packages/dom/package.json
  packages/framework/package.json
  packages/fx/package.json
  packages/html/package.json
  packages/nx-plugin/package.json
  packages/route/package.json
  packages/router/package.json
  pnpm-lock.yaml
Due: none

refactor: Compiler to abstract compiler usage
  packages/compiler/src/Compiler.ts
  packages/compiler/src/Manifest.ts
  packages/compiler/src/ResolvedOptions.ts
  packages/compiler/src/constants.ts
  packages/compiler/src/getRelativePath.ts
  packages/compiler/src/index.ts
  packages/vite-plugin/src/resolveTypedConfig.ts
  packages/vite-plugin/src/vite-plugin.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

Publish
  packages/cli/package.json
  packages/compiler/package.json
  packages/context/package.json
  packages/dom/package.json
  packages/framework/package.json
  packages/fx/package.json
  packages/html/package.json
  packages/nx-plugin/package.json
  packages/route/package.json
  packages/router/package.json
  packages/vite-plugin/package.json
  pnpm-lock.yaml
Due: none

fix: ensure there is a default export
  packages/vite-plugin/src/index.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

Path conditions:
  eslint --ext .js,.jsx,.ts,.tsx --fix: any of: *.{ts, tsx}
  prettier --write --parser markdown --prose-wrap always: any of: *.md
