Repository TylorS/typed: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .js,.jsx,.ts,.tsx --fix, prettier --write --parser markdown --prose-wrap always

feat: working vavite setup
  example/browser.ts
  example/quux-browser.ts
  example/quux-pages/react/counter.tsx
  example/server.ts
  example/tsconfig.json
  package.json
  packages/compiler/package.json
  packages/compiler/src/makeHtmlModule.ts
  packages/compiler/src/runExpressApp.ts
  packages/compiler/tsconfig.json
  packages/context/package.json
  packages/dom/package.json
  packages/framework/package.json
  packages/framework/src/virtual-modules.d.ts
  packages/fx/package.json
  packages/html/package.json
  packages/nx-plugin/package.json
  packages/route/package.json
  packages/router/package.json
  packages/vite-plugin/package.json
  packages/vite-plugin/src/vite-plugin.ts
  packages/vite-plugin/tsconfig.json
  pnpm-lock.yaml
  vite.config.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

refactor: use vite port
  example/server.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

feat: enable vite-plugin to configure everything
  example/server.ts
  packages/vite-plugin/src/vite-plugin.ts
  vite.config.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

chore: update deps
  example/index.html
  example/quux.html
  example/server.ts
  package.json
  packages/compiler/package.json
  packages/context/package.json
  packages/dom/package.json
  packages/framework/package.json
  packages/fx/package.json
  packages/html/package.json
  packages/route/package.json
  packages/router/package.json
  packages/vite-plugin/package.json
  packages/vite-plugin/src/vite-plugin.ts
  pnpm-lock.yaml
  tools/updatePackages.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

feat: switch back to html: virtual module + fix react server rendering
  example/pages/react/counter.tsx
  example/quux-pages/react/counter.tsx
  example/render-react.ts
  example/server.ts
  package.json
  packages/framework/src/virtual-modules.d.ts
  packages/html/src/render.ts
  packages/vite-plugin/src/vite-plugin.ts
  pnpm-lock.yaml
  readme.md
  vite.config.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix, prettier --write --parser markdown --prose-wrap always

docs: add nested layouts to todos
  readme.md
Due: prettier --write --parser markdown --prose-wrap always

refactor: ditch nested layouts
  example/pages/bar/bar.ts
  packages/compiler/src/SourceFileModule.ts
  packages/compiler/src/makeRenderModule.ts
  packages/compiler/src/scanSourceFiles.ts
  packages/framework/src/FallbackModule.ts
  packages/framework/src/Module.ts
  packages/router/src/RouteMatcher.ts
  readme.md
Due: eslint --ext .js,.jsx,.ts,.tsx --fix, prettier --write --parser markdown --prose-wrap always

feat: improve ergonomics of provideServerIntrinsics + expose happyDOM
  packages/compiler/src/runExpressApp.ts
  packages/framework/src/HtmlModule.ts
  packages/framework/src/makeServerWindow.ts
  packages/framework/src/provideIntrinsics.ts
  packages/framework/src/virtual-modules.d.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

feat: improve the performance of setting up ts project
  example/render-react.ts
  packages/compiler/src/setupTsProject.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

docs: finish incomplete sentence
  example/server.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

refactor: put express in the right places
  example/server.ts
  packages/compiler/src/index.ts
  packages/compiler/tsconfig.json
  packages/framework/src/addAssetDirectories.ts
  packages/framework/src/express.ts
  packages/framework/src/index.ts
  packages/framework/src/lazyExpressHandler.ts
  packages/framework/src/runExpressApp.ts
  packages/framework/src/vavite.d.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

fix: improve import declaration usage + html output for production
  package.json
  packages/compiler/src/cleanHtml.ts
  packages/compiler/src/compiler.ts
  packages/compiler/src/helpers.ts
  packages/compiler/src/index.ts
  packages/compiler/src/makeHtmlModule.ts
  packages/compiler/src/readIndexHtml.ts
  packages/compiler/src/ts-morph-helpers.ts
  packages/vite-plugin/src/vite-plugin.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

refactor: use isBrowser helper
  example/render-react.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

feat: minify html for production
  example/server.ts
  package.json
  packages/compiler/package.json
  packages/compiler/src/makeHtmlModule.ts
  packages/compiler/tsconfig.json
  packages/framework/package.json
  packages/vite-plugin/src/vite-plugin.ts
  pnpm-lock.yaml
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

feat: add support for static markup to react rendering
  example/render-react.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

refactor: more consistent naming
  .gitignore
  package.json
  packages/compiler/src/index.ts
  packages/compiler/src/makeBrowserModule.ts
  packages/compiler/src/makeRuntimeModule.test.ts
  packages/compiler/src/makeRuntimeModule.ts
  packages/vite-plugin/src/vite-plugin.ts
  pnpm-lock.yaml
  tsconfig.base.json
  vite.config.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

feat: ensure type-checking is working
  example/pages/bar/bar.ts
  example/ts-morph-test.ts
  package.json
  packages/compiler/src/makeHtmlModule.ts
  packages/compiler/src/makeRuntimeModule.ts
  packages/compiler/src/setupTsProject.ts
  packages/compiler/src/ts-morph-helpers.ts
  packages/context/package.json
  packages/context/src/context.ts
  packages/dom/package.json
  packages/dom/src/DomServices.ts
  packages/framework/package.json
  packages/fx/package.json
  packages/html/package.json
  packages/path/src/index.ts
  packages/route/package.json
  packages/router/package.json
  packages/vite-plugin/package.json
  packages/vite-plugin/src/vite-plugin.ts
  pnpm-lock.yaml
  vite.config.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

feat: allow example to type-check again
  example/pages/bar/bar.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

Publish
  packages/compiler/package.json
  packages/context/package.json
  packages/dom/package.json
  packages/framework/package.json
  packages/fx/package.json
  packages/html/package.json
  packages/nx-plugin/package.json
  packages/path/package.json
  packages/route/package.json
  packages/router/package.json
  packages/vite-plugin/package.json
  pnpm-lock.yaml
Due: none

chore: delete useless file
  example/ts-morph-test.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

fix: prod builds still work + example builds
  example/other-browser.ts
  example/other-pages/bar/bar.ts
  example/other-pages/fallback.ts
  example/other-pages/foo/foo.ts
  example/other-pages/home.ts
  example/other-pages/layout.ts
  example/other-pages/react/counter.tsx
  example/other.html
  example/server.ts
  package.json
  packages/vite-plugin/src/vite-plugin.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

Publish
  packages/vite-plugin/package.json
Due: none

chore: add sideEffects: false to each packages for tree-shaking
  packages/benchmark/package.json
  packages/compiler/package.json
  packages/context/package.json
  packages/dom/package.json
  packages/framework/package.json
  packages/fx/package.json
  packages/html/package.json
  packages/internal/package.json
  packages/nx-plugin/package.json
  packages/path/package.json
  packages/route/package.json
  packages/router/package.json
  packages/vite-plugin/package.json
  tools/updatePackages.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

Publish
  packages/benchmark/package.json
  packages/compiler/package.json
  packages/context/package.json
  packages/dom/package.json
  packages/framework/package.json
  packages/fx/package.json
  packages/html/package.json
  packages/internal/package.json
  packages/nx-plugin/package.json
  packages/path/package.json
  packages/route/package.json
  packages/router/package.json
  packages/vite-plugin/package.json
Due: none

feat: enable effect-ts typescript transformer
  example/pages/home.ts
  packages/compiler/src/setupTsProject.ts
  packages/vite-plugin/src/vite-plugin.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

chore: use effect-ts typescript plugin
  readme.md
Due: prettier --write --parser markdown --prose-wrap always

feat: enable using base path in LInk
  example/other-pages/bar/bar.ts
  example/other-pages/foo/foo.ts
  example/other-pages/layout.ts
  example/other-pages/react/counter.tsx
  example/pages/bar/bar.ts
  example/pages/layout.ts
  example/pages/react/counter.tsx
  example/render-react.ts
  example/server.ts
  packages/compiler/src/setupTsProject.ts
  packages/router/src/Link.ts
  packages/router/src/router.ts
  readme.md
Due: eslint --ext .js,.jsx,.ts,.tsx --fix, prettier --write --parser markdown --prose-wrap always

Publish
  packages/compiler/package.json
  packages/framework/package.json
  packages/router/package.json
  packages/vite-plugin/package.json
Due: none

chore: add why ts-ignore is here
  example/other-pages/svelte/svelte.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

chore: enable exactOptionalPropertyTypes
  tsconfig.base.json
Due: none

chore: improve types
  example/components/Hello.svelte
  example/other-pages/svelte/svelte.ts
  example/tsconfig.json
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

fix: typo in Context
  packages/context/src/context.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

fix: use regular sourcemaps for transformations
  packages/vite-plugin/src/vite-plugin.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

chore: disable more from the resulting bundle
  example/other-pages/react/render-react.ts
  example/other-pages/svelte/render-svelte.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

Publish
  packages/compiler/package.json
  packages/context/package.json
  packages/dom/package.json
  packages/framework/package.json
  packages/fx/package.json
  packages/html/package.json
  packages/internal/package.json
  packages/route/package.json
  packages/router/package.json
  packages/vite-plugin/package.json
  pnpm-lock.yaml
Due: none

refactor: svelte inserts all of this via the vite-plugin
  example/other-pages/svelte/render-svelte.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

chore: append css + head content in development
  example/components/Hello.svelte
  example/other-pages/svelte/render-svelte.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

fix: ensure dev mode doesn't have warning about sourceMaps
  packages/vite-plugin/src/vite-plugin.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

feat: add a ElementRef example
  example/components/counter-with-dom-source.ts
  example/pages/baz/baz.ts
  example/pages/layout.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

Path conditions:
  eslint --ext .js,.jsx,.ts,.tsx --fix: any of: *.{ts, tsx}
  prettier --write --parser markdown --prose-wrap always: any of: *.md
