Repository TylorS/typed: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .js,.jsx,.ts,.tsx --fix, prettier --write --parser markdown --prose-wrap always

chore: udpate deps + github actions
  .github/workflows/pr.yml
  package.json
  pnpm-lock.yaml
  tsconfig.base.json
  tsconfig.madge.json
Due: none

docs: add index.md + root config.yml
  docs/_config.yml
  docs/index.md
Due: prettier --write --parser markdown --prose-wrap always

chore: use corepack to enable pnpm
  .github/workflows/main.yml
Due: none

docs: try to improve doc display of Request.* methods
  packages/context/src/request.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

fix: ensure git has proper casings
  packages/context/README.md
  packages/context/src/Builder.ts
  packages/context/src/Context.ts
  packages/context/src/Fn.ts
  packages/context/src/Identifier.ts
  packages/context/src/Many.ts
  packages/context/src/Repository.ts
  packages/context/src/Request.ts
  packages/context/src/RequestResolver.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix, prettier --write --parser markdown --prose-wrap always

chore: add missing dependency
  packages/route/package.json
  pnpm-lock.yaml
Due: none

chore fix more casings
  packages/fx/README.md
  packages/path/README.md
  packages/route/README.md
Due: prettier --write --parser markdown --prose-wrap always

docs: update docs
  docs/context/Request.ts.md
Due: prettier --write --parser markdown --prose-wrap always

refactor: create RequestConstructor type
  packages/context/src/Request.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

fix: typo
  packages/context/src/Request.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

chore: update docs
  docs/context/Request.ts.md
Due: prettier --write --parser markdown --prose-wrap always

docs: add return signature to RequestResolver
  docs/context/RequestResolver.ts.md
  packages/context/src/RequestResolver.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix, prettier --write --parser markdown --prose-wrap always

docs: add return-type annotation
  docs/context/ScopedRef.ts.md
  packages/context/src/ScopedRef.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix, prettier --write --parser markdown --prose-wrap always

docs: add more categories
  docs/_config.yml
  docs/fx/Fx.ts.md
  docs/fx/TypeId.ts.md
  docs/fx/Typeclass.ts.md
  packages/fx/src/Fx.ts
  packages/fx/src/Sink.ts
  packages/fx/src/Subject.ts
  packages/fx/src/Typeclass.ts
  packages/fx/src/index.ts
  packages/fx/src/internal/core.ts
  packages/fx/src/internal/fx.ts
  packages/fx/src/internal/provide.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix, prettier --write --parser markdown --prose-wrap always

docs: update docs
  docs/fx/Fx.ts.md
  docs/fx/Sink.ts.md
  docs/fx/Subject.ts.md
  docs/fx/Typeclass.ts.md
Due: prettier --write --parser markdown --prose-wrap always

docs: fix @since tag
  docs/fx/TypeId.ts.md
  packages/fx/src/TypeId.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix, prettier --write --parser markdown --prose-wrap always

feat: implement RefSubject
  packages/fx/src/RefSubject.ts
  packages/fx/src/Stream.ts
  packages/fx/src/Subject.ts
  packages/fx/src/index.ts
  packages/fx/src/internal/core-subject.ts
  packages/fx/src/internal/fx-effect-proto.ts
  packages/fx/src/internal/fx.ts
  packages/fx/src/internal/protos.ts
  packages/fx/test/core.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

docs: update Fx documentation
  docs/fx/RefSubject.ts.md
  docs/fx/Sink.ts.md
  docs/fx/Stream.ts.md
  docs/fx/Subject.ts.md
  docs/fx/TypeId.ts.md
  docs/fx/Typeclass.ts.md
  packages/fx/src/Stream.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix, prettier --write --parser markdown --prose-wrap always

docs: update github actions
  .github/workflows/main.yml
  .github/workflows/pr.yml
Due: none

feat: add Computed + Filtered
  packages/fx/src/Computed.ts
  packages/fx/src/Filtered.ts
  packages/fx/src/Fx.ts
  packages/fx/src/FxEffect.ts
  packages/fx/src/RefSubject.ts
  packages/fx/src/index.ts
  packages/fx/src/internal/core.ts
  packages/fx/src/internal/helpers.ts
  packages/fx/src/internal/ref-transform.ts
  packages/fx/test/benchmarks.ts
  packages/fx/test/core.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

refactor: avoid creating lambdas
  packages/fx/src/Computed.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

feat: add related methods to Computed + Filtered
  packages/fx/src/Computed.ts
  packages/fx/src/Filtered.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

refactor: use compact
  packages/fx/src/Filtered.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

docs: add better code comment
  packages/fx/src/internal/helpers.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

docs: update the docs
  docs/fx/Computed.ts.md
  docs/fx/Filtered.ts.md
  docs/fx/Fx.ts.md
  docs/fx/FxEffect.ts.md
  docs/fx/RefSubject.ts.md
  docs/fx/Sink.ts.md
  docs/fx/Stream.ts.md
  docs/fx/Subject.ts.md
  docs/fx/TypeId.ts.md
  docs/fx/Typeclass.ts.md
  docs/fx/index.ts.md
  packages/fx/src/Computed.ts
  packages/fx/src/Filtered.ts
  packages/fx/src/FxEffect.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix, prettier --write --parser markdown --prose-wrap always

docs: add some information to the index.md's of each package
  docs/context/index.md
  docs/fx/index.md
  docs/path/index.md
  docs/route/index.md
  docs/wire/index.md
Due: prettier --write --parser markdown --prose-wrap always

docs: add missing index.md for remote-data
  docs/remote-data/index.md
Due: prettier --write --parser markdown --prose-wrap always

WIP: porting over DOM package
  packages/dom/.prettierignore
  packages/dom/LICENSE
  packages/dom/README.md
  packages/dom/docgen.json
  packages/dom/package.json
  packages/dom/tsconfig.build.json
  packages/dom/tsconfig.examples.json
  packages/dom/tsconfig.json
  packages/dom/tsconfig.test.json
  packages/dom/vitest.config.ts
  pnpm-lock.yaml
  scripts/new-package.sh
  tsconfig.base.json
  tsconfig.build.json
  tsconfig.json
  tsconfig.madge.json
Due: eslint --ext .js,.jsx,.ts,.tsx --fix, prettier --write --parser markdown --prose-wrap always

feat: port over @typed/dom without @typed/fx dependency
  docs/context/Extensions.ts.md
  docs/context/Tag.ts.md
  docs/context/index.md
  docs/dom/Document.ts.md
  docs/dom/DomServices.ts.md
  docs/dom/EventTarget.ts.md
  docs/dom/GlobalThis.ts.md
  docs/dom/History.ts.md
  docs/dom/Location.ts.md
  docs/dom/Navigator.ts.md
  docs/dom/ParentElement.ts.md
  docs/dom/RootElement.ts.md
  docs/dom/Storage.ts.md
  docs/dom/Window.ts.md
  docs/dom/index.md
  docs/fx/index.md
  docs/path/index.md
  docs/remote-data/index.md
  docs/route/index.md
  docs/wire/index.md
  packages/context/src/Extensions.ts
  packages/context/src/Tag.ts
  packages/dom/package.json
  packages/dom/src/Document.ts
  packages/dom/src/DomServices.ts
  packages/dom/src/EventTarget.ts
  packages/dom/src/GlobalThis.ts
  packages/dom/src/History.ts
  packages/dom/src/Location.ts
  packages/dom/src/Navigator.ts
  packages/dom/src/ParentElement.ts
  packages/dom/src/RootElement.ts
  packages/dom/src/Storage.ts
  packages/dom/src/Window.ts
  packages/dom/src/internal/_helpers.ts
  packages/dom/tsconfig.build.json
  pnpm-lock.yaml
Due: eslint --ext .js,.jsx,.ts,.tsx --fix, prettier --write --parser markdown --prose-wrap always

feat: create Tagged helper for creating tags, and utilize them in DOM package
  packages/context/src/Extensions.ts
  packages/dom/src/Document.ts
  packages/dom/src/GlobalThis.ts
  packages/dom/src/History.ts
  packages/dom/src/Location.ts
  packages/dom/src/Navigator.ts
  packages/dom/src/ParentElement.ts
  packages/dom/src/RootElement.ts
  packages/dom/src/Storage.ts
  packages/dom/src/Window.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

docs: update docs
  docs/context/Extensions.ts.md
  docs/dom/Document.ts.md
  docs/dom/GlobalThis.ts.md
  docs/dom/History.ts.md
  docs/dom/Location.ts.md
  docs/dom/Navigator.ts.md
  docs/dom/ParentElement.ts.md
  docs/dom/RootElement.ts.md
  docs/dom/Storage.ts.md
  docs/dom/Window.ts.md
  docs/dom/index.md
Due: prettier --write --parser markdown --prose-wrap always

docs: update C.Tagged -> Context.Tagged for clarity
  docs/dom/Document.ts.md
  docs/dom/DomServices.ts.md
  docs/dom/GlobalThis.ts.md
  docs/dom/History.ts.md
  docs/dom/Location.ts.md
  docs/dom/Navigator.ts.md
  docs/dom/ParentElement.ts.md
  docs/dom/RootElement.ts.md
  docs/dom/Storage.ts.md
  docs/dom/Window.ts.md
  packages/dom/src/Document.ts
  packages/dom/src/DomServices.ts
  packages/dom/src/GlobalThis.ts
  packages/dom/src/History.ts
  packages/dom/src/Location.ts
  packages/dom/src/Navigator.ts
  packages/dom/src/ParentElement.ts
  packages/dom/src/RootElement.ts
  packages/dom/src/Storage.ts
  packages/dom/src/Window.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix, prettier --write --parser markdown --prose-wrap always

feat(Fx): port over keyed implementation
  packages/fx/src/Fx.ts
  packages/fx/src/RefSubject.ts
  packages/fx/src/Subject.ts
  packages/fx/src/internal/core-subject.ts
  packages/fx/src/internal/keyed.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

refactor: make things actually private
  packages/fx/src/internal/share.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

docs: add keyed docs
  packages/fx/src/Fx.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

feat: allow creating RefSubjects from an Fx
  packages/fx/src/RefSubject.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

feat: enable making RefSubjects from Fx + start of Contextual implementations
  packages/fx/src/Computed.ts
  packages/fx/src/Context.ts
  packages/fx/src/Context/Model.ts
  packages/fx/src/Context/RefSubject.ts
  packages/fx/src/Context/Subject.ts
  packages/fx/src/Context/index.ts
  packages/fx/src/Filtered.ts
  packages/fx/src/Fx.ts
  packages/fx/src/FxEffect.ts
  packages/fx/src/RefSubject.ts
  packages/fx/src/internal/core-subject.ts
  packages/fx/src/internal/fx-effect-transform.ts
  packages/fx/src/internal/keyed.ts
  packages/fx/src/internal/ref-transform.ts
  packages/fx/test/context.ts
  packages/fx/test/core.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

Path conditions:
  eslint --ext .js,.jsx,.ts,.tsx --fix: any of: *.{ts, tsx}
  prettier --write --parser markdown --prose-wrap always: any of: *.md
