Repository TylorS/typed: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .js,.jsx,.ts,.tsx --fix, prettier --write --parser markdown --prose-wrap always

.lintstagedrc:

{
  "*.{ts, tsx}": [
    "eslint --ext .js,.jsx,.ts,.tsx --fix"
  ],
  "*.md": [
    "prettier --write --parser markdown --prose-wrap always"
  ]
}

docs: expand relation to fp-ts/schema
  packages/decoder/readme.md
Due: prettier --write --parser markdown --prose-wrap always

Publish
  packages/benchmark/package.json
  packages/cli/package.json
  packages/compiler/package.json
  packages/context/package.json
  packages/decoder/package.json
  packages/dom/package.json
  packages/framework/package.json
  packages/fx/package.json
  packages/html/package.json
  packages/path/package.json
  packages/route/package.json
  packages/router/package.json
  packages/vite-plugin/package.json
  pnpm-lock.yaml
Due: none

feat: add support for errors in Fetch handlers
  example/api/hello.ts
  package.json
  packages/cli/package.json
  packages/compiler/package.json
  packages/context/package.json
  packages/dom/package.json
  packages/framework/package.json
  packages/framework/src/api/ApiModule.ts
  packages/framework/src/api/FetchHandler.ts
  packages/framework/src/express/fetch-express.ts
  packages/framework/src/express/registerExpressHandlers.ts
  packages/framework/tsconfig.json
  packages/fx/package.json
  packages/html/package.json
  packages/route/package.json
  packages/router/package.json
  packages/vite-plugin/package.json
  pnpm-lock.yaml
  tsconfig.base.json
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

feat: reorder parameters
  packages/framework/src/api/FetchHandler.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

feat: add errors to Route and all dependent types
  example/other-pages/react/render-react.ts
  example/other-pages/svelte/render-svelte.ts
  example/pages/foo/foo.ts
  example/server.ts
  example/tsconfig.json
  package.json
  packages/cli/package.json
  packages/compiler/package.json
  packages/compiler/src/Compiler.ts
  packages/compiler/src/makeApiModule.ts
  packages/context/package.json
  packages/dom/package.json
  packages/framework/package.json
  packages/framework/src/FallbackModule.ts
  packages/framework/src/Module.ts
  packages/framework/src/RuntimeModule.ts
  packages/framework/src/api/FetchHandler.ts
  packages/framework/src/buildModules.ts
  packages/framework/src/express.ts
  packages/framework/src/express/app.ts
  packages/framework/src/express/assets.ts
  packages/framework/src/express/listen.ts
  packages/framework/src/express/runExpressApp.ts
  packages/framework/src/static/getAllStaticPaths.ts
  packages/framework/src/static/renderStaticHtml.ts
  packages/framework/src/virtual-modules.d.ts
  packages/framework/tsconfig.json
  packages/fx/package.json
  packages/html/package.json
  packages/route/package.json
  packages/route/src/route.ts
  packages/router/package.json
  packages/router/src/RouteMatch.ts
  packages/router/src/RouteMatcher.ts
  packages/router/src/router.ts
  pnpm-lock.yaml
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

refactor: delete unused type
  packages/framework/src/express/app.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

Publish
  packages/cli/package.json
  packages/compiler/package.json
  packages/context/package.json
  packages/dom/package.json
  packages/framework/package.json
  packages/fx/package.json
  packages/html/package.json
  packages/route/package.json
  packages/router/package.json
  packages/vite-plugin/package.json
  pnpm-lock.yaml
Due: none

refactor: use Effect.logInfo
  example/static.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

refactor: extract asset options
  example/server.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

refactor: default to localhost for host
  example/server.ts
  packages/framework/src/express/app.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

feat(dom): add Query + Decoder integrations to Fetch
  example/package.json
  package.json
  packages/dom/package.json
  packages/dom/src/Fetch.ts
  packages/dom/src/Fetch/Query.ts
  packages/dom/src/Fetch/Query/DataSource.ts
  packages/dom/src/Fetch/Query/Request.ts
  packages/dom/tsconfig.json
  pnpm-lock.yaml
  tsconfig.base.json
  vite.config.js
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

feat(decoder): json + uuid
  packages/decoder/src/index.ts
  packages/decoder/src/json.ts
  packages/decoder/src/uuid.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

chore: update packages
  packages/dom/package.json
  pnpm-lock.yaml
Due: none

Publish
  packages/cli/package.json
  packages/compiler/package.json
  packages/decoder/package.json
  packages/dom/package.json
  packages/framework/package.json
  packages/html/package.json
  packages/router/package.json
  packages/vite-plugin/package.json
  pnpm-lock.yaml
Due: none

feat: FetchHandler should use the same DecodeError as Fetch
  packages/framework/src/api/FetchHandler.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

Publish
  packages/cli/package.json
  packages/compiler/package.json
  packages/framework/package.json
  packages/vite-plugin/package.json
Due: none

refactor: split up api scanning
  packages/compiler/src/index.ts
  packages/compiler/src/scanApiSourceFiles.ts
  packages/compiler/src/scanSourceFiles.ts
  packages/compiler/src/type-helpers.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

feat(error): tagged error helper
  example/api/hello.ts
  example/package.json
  example/tsconfig.json
  packages/compiler/src/readApiModules.ts
  packages/error/eslintrc.json
  packages/error/package.json
  packages/error/project.json
  packages/error/src/error.ts
  packages/error/src/index.ts
  packages/error/tsconfig.build.json
  packages/error/tsconfig.json
  packages/framework/src/api/FetchHandler.ts
  packages/fx/src/operator/catchTag.ts
  packages/fx/src/operator/index.ts
  packages/fx/src/operator/switchMapCause.ts
  pnpm-lock.yaml
  tsconfig.base.json
  tsconfig.json
  vite.config.js
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

refactor: improve inference of Error methods
  example/api/hello.ts
  packages/error/src/error.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

refactor: remove extra error
  example/api/hello.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

Publish
  packages/cli/package.json
  packages/compiler/package.json
  packages/context/package.json
  packages/dom/package.json
  packages/error/package.json
  packages/framework/package.json
  packages/fx/package.json
  packages/html/package.json
  packages/router/package.json
  packages/vite-plugin/package.json
  pnpm-lock.yaml
Due: none

refactor: remove intermediate type-cast
  packages/dom/src/Fetch/Query.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

feat: add type-alias for partial Fx usage
  packages/fx/src/Fx.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

chore: update packages
  packages/context/package.json
  packages/dom/package.json
  packages/framework/package.json
  packages/fx/package.json
  packages/html/package.json
  packages/route/package.json
  pnpm-lock.yaml
Due: none

Publish
  packages/cli/package.json
  packages/compiler/package.json
  packages/context/package.json
  packages/decoder/package.json
  packages/dom/package.json
  packages/error/package.json
  packages/framework/package.json
  packages/fx/package.json
  packages/html/package.json
  packages/route/package.json
  packages/router/package.json
  packages/vite-plugin/package.json
  pnpm-lock.yaml
Due: none

Publish
  packages/cli/package.json
  packages/compiler/package.json
  packages/context/package.json
  packages/decoder/package.json
  packages/dom/package.json
  packages/error/package.json
  packages/framework/package.json
  packages/fx/package.json
  packages/html/package.json
  packages/nx-plugin/package.json
  packages/route/package.json
  packages/router/package.json
  packages/vite-plugin/package.json
  pnpm-lock.yaml
Due: none

feat(error): add fail + failFx
  packages/error/src/error.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

chore: upgrade deps
  package.json
  packages/cli/package.json
  packages/decoder/package.json
  packages/dom/package.json
  packages/dom/src/Fetch/Query/DataSource.ts
  packages/framework/package.json
  packages/vite-plugin/package.json
  packages/vite-plugin/src/vite-plugin.ts
  pnpm-lock.yaml
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

refactor: generalize server/browser integration
  example/other-pages/react/render-react.ts
  example/other-pages/render-third-party.ts
  example/other-pages/svelte/render-svelte.ts
  tsconfig.base.json
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

feat(Context): implement Fn for single function services
  packages/context/src/fn.ts
  packages/context/src/index.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

Publish
  packages/cli/package.json
  packages/compiler/package.json
  packages/context/package.json
  packages/decoder/package.json
  packages/dom/package.json
  packages/framework/package.json
  packages/html/package.json
  packages/router/package.json
  packages/vite-plugin/package.json
  pnpm-lock.yaml
Due: none

refactor: change context to rebuild and release
  packages/context/src/context.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

Publish
  packages/cli/package.json
  packages/compiler/package.json
  packages/context/package.json
  packages/dom/package.json
  packages/framework/package.json
  packages/html/package.json
  packages/router/package.json
  packages/vite-plugin/package.json
Due: none

feat(Context): add type-level helpers to Fn
  packages/context/src/fn.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

refactor: add space
  packages/context/src/fn.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix
