Repository TylorS/typed: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .js,.jsx,.ts,.tsx --fix, prettier --write --parser markdown --prose-wrap always

feat: more progress on a router
  examples/simple-ssr/src/index.ts
  examples/todomvc/src/index.ts
  examples/todomvc/src/infrastructure.ts
  packages/environment/package.json
  packages/environment/src/index.ts
  packages/environment/tsconfig.build.json
  packages/fx/src/Fx.ts
  packages/fx/src/internal/core.ts
  packages/navigation/src/Navigation.ts
  packages/router/package.json
  packages/router/src/Matcher.ts
  packages/router/tsconfig.build.json
  packages/template/package.json
  packages/template/src/RenderContext.ts
  packages/template/test/Html.ts
  packages/template/test/Render.ts
  packages/template/test/RenderQueue.ts
  packages/template/tsconfig.build.json
  pnpm-lock.yaml
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

chore: upgrade deps
  examples/simple-ssr/package.json
  examples/todomvc/package.json
  package.json
  packages/async-data/package.json
  packages/dom/package.json
  packages/fx/package.json
  packages/navigation/package.json
  packages/template/package.json
  pnpm-lock.yaml
Due: none

WIP: better template testing
  packages/dom/src/DomServices.ts
  packages/environment/src/index.ts
  packages/fx/src/RefArray.ts
  packages/template/package.json
  packages/template/src/ElementRef.ts
  packages/template/src/ElementSource.ts
  packages/template/src/Html.ts
  packages/template/src/Placeholder.ts
  packages/template/src/Platform.ts
  packages/template/src/RenderTemplate.ts
  packages/template/src/TemplateInstance.ts
  packages/template/src/Test.ts
  packages/template/src/Vitest.ts
  packages/template/src/internal/utils.ts
  packages/template/test/Render.ts
  packages/template/tsconfig.build.json
  packages/template/tsconfig.examples.json
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

feat: start a test/vitest module
  examples/todomvc/src/index.ts
  packages/fx/src/internal/core.ts
  packages/fx/src/internal/helpers.ts
  packages/fx/src/internal/withKey.ts
  packages/router/package.json
  packages/router/src/CurrentRoute.ts
  packages/template/src/ElementRef.ts
  packages/template/src/Html.ts
  packages/template/src/Render.ts
  packages/template/src/RenderContext.ts
  packages/template/src/Test.ts
  packages/template/src/Vitest.ts
  packages/template/test/Html.ts
  packages/template/test/Render.ts
  pnpm-lock.yaml
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

chore: switch to Bundler module resolution
  examples/counter/src/index.ts
  packages/dom/src/CustomElementRegistry.ts
  packages/fx/src/Computed.ts
  packages/template/src/Test.ts
  packages/tsconfig/base.json
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

chore: update deps
  examples/counter/package.json
  examples/simple-ssr/package.json
  examples/todomvc/package.json
  package.json
  packages/async-data/package.json
  packages/dom/package.json
  packages/fx/package.json
  packages/navigation/package.json
  packages/template/package.json
  pnpm-lock.yaml
Due: none

feat: implementing hydration
  packages/template/src/Hydrate.ts
  packages/template/src/Platform.ts
  packages/template/src/Render.ts
  packages/template/src/index.ts
  packages/template/src/internal/HydrateContext.ts
  packages/template/src/internal/browser.ts
  packages/template/src/internal/errors.ts
  packages/template/src/internal/hydrate.ts
  packages/template/src/internal/parts.ts
  packages/template/src/internal/render.ts
  pnpm-lock.yaml
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

feat: allow checking if you're currently navigating
  packages/navigation/src/Navigation.ts
  packages/navigation/src/internal/fromNavigation.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

feat: @typed/id + memory Navigation
  examples/todomvc/src/infrastructure.ts
  packages/form/.prettierignore
  packages/form/LICENSE
  packages/form/README.md
  packages/form/docgen.json
  packages/form/package.json
  packages/form/tsconfig.build.json
  packages/form/tsconfig.examples.json
  packages/form/tsconfig.json
  packages/form/tsconfig.test.json
  packages/form/vitest.config.ts
  packages/fx/src/Guard.ts
  packages/fx/src/RefArray.ts
  packages/id/.prettierignore
  packages/id/LICENSE
  packages/id/README.md
  packages/id/docgen.json
  packages/id/package.json
  packages/id/src/index.ts
  packages/id/src/nanoid.ts
  packages/id/src/uuid.ts
  packages/id/tsconfig.build.json
  packages/id/tsconfig.examples.json
  packages/id/tsconfig.json
  packages/id/tsconfig.test.json
  packages/id/vitest.config.ts
  packages/navigation/src/Navigation.ts
  packages/navigation/src/index.ts
  packages/navigation/src/internal/fromNavigation.ts
  packages/navigation/src/memory.ts
  packages/router/src/CurrentRoute.ts
  packages/router/src/Matcher.ts
  pnpm-lock.yaml
  tsconfig.base.json
  tsconfig.build.json
  tsconfig.json
  tsconfig.madge.json
Due: eslint --ext .js,.jsx,.ts,.tsx --fix, prettier --write --parser markdown --prose-wrap always

feat: allow configuring how uuid/nanoid are generated
  packages/id/src/index.ts
  packages/id/src/nanoid.ts
  packages/id/src/uuid.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

feat: Improve UUID/NanoId random number generation
  packages/id/package.json
  packages/id/src/Crypto.ts
  packages/id/src/NanoId.ts
  packages/id/src/Uuid.ts
  packages/id/src/index.ts
  packages/id/tsconfig.build.json
  packages/navigation/src/memory.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

fix: ensure UUID works properly
  packages/id/src/NanoId.ts
  packages/id/src/Uuid.ts
  packages/id/test/id.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

refactor: rename file to GetRandomValues
  packages/id/src/GetRandomValues.ts
  packages/id/src/index.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

feat: Guard.any
  packages/fx/src/Guard.ts
  packages/router/src/CurrentRoute.ts
  packages/router/src/Matcher.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

feat: all RefSubjects should be made within a Scope
  package.json
  packages/form/.prettierignore
  packages/form/LICENSE
  packages/form/README.md
  packages/form/docgen.json
  packages/form/package.json
  packages/form/tsconfig.build.json
  packages/form/tsconfig.examples.json
  packages/form/tsconfig.json
  packages/form/tsconfig.test.json
  packages/form/vitest.config.ts
  packages/fx/src/Fx.ts
  packages/fx/src/RefArray.ts
  packages/fx/src/RefAsyncData.ts
  packages/fx/src/RefAsyncDataArray.ts
  packages/fx/src/RefBoolean.ts
  packages/fx/src/RefChunk.ts
  packages/fx/src/RefHashMap.ts
  packages/fx/src/RefHashSet.ts
  packages/fx/src/RefNumber.ts
  packages/fx/src/RefSubject.ts
  packages/fx/src/internal/core-ref-subject.ts
  packages/fx/src/internal/fx.ts
  packages/fx/src/internal/share.ts
  packages/fx/test/core.ts
  packages/fx/test/ref-subject.ts
  packages/fx/test/tagged.ts
  tsconfig.base.json
  tsconfig.build.json
  tsconfig.json
  tsconfig.madge.json
Due: eslint --ext .js,.jsx,.ts,.tsx --fix, prettier --write --parser markdown --prose-wrap always

refactor: attempt to improve github formatting of HTML
  examples/todomvc/src/presentation.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

feat: some first attempts at blocking/canceling navigation
  packages/navigation/src/Navigation.ts
  packages/navigation/src/internal/fromNavigation.ts
  packages/navigation/src/memory.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

fix: removing Never can change lifespan
  packages/fx/src/internal/core.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

feat: allow providing context to RefSubject/Versioned types
  examples/counter/package.json
  examples/fx-tracing/package.json
  examples/simple-ssr/package.json
  examples/todomvc/package.json
  package.json
  packages/async-data/package.json
  packages/context/package.json
  packages/dom/package.json
  packages/environment/package.json
  packages/fx/package.json
  packages/fx/src/Computed.ts
  packages/fx/src/Filtered.ts
  packages/fx/src/Form.ts
  packages/fx/src/Model.ts
  packages/fx/src/RefSubject.ts
  packages/fx/src/Versioned.ts
  packages/fx/src/internal/core-ref-subject.ts
  packages/fx/src/internal/core.ts
  packages/fx/src/internal/fx-effect-proto.ts
  packages/fx/src/internal/helpers.ts
  packages/fx/src/internal/versioned-transform.ts
  packages/id/package.json
  packages/id/src/NanoId.ts
  packages/id/src/Uuid.ts
  packages/navigation/package.json
  packages/navigation/src/internal/fromNavigation.ts
  packages/route/package.json
  packages/router/package.json
  packages/template/package.json
  packages/template/src/ElementRef.ts
  packages/template/src/ElementSource.ts
  packages/template/src/TemplateInstance.ts
  packages/template/test/ElementRef.ts
  pnpm-lock.yaml
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

WIP: better navigation lifecycle
  packages/fx/src/Computed.ts
  packages/fx/src/internal/core-ref-subject.ts
  packages/id/package.json
  packages/id/src/GetRandomValues.ts
  packages/id/src/NanoId.ts
  packages/id/src/Schema.ts
  packages/id/src/Uuid.ts
  packages/navigation/package.json
  packages/navigation/src/Navigation.ts
  packages/navigation/src/v2/Navigation.ts
  packages/navigation/src/v2/index.ts
  packages/navigation/src/v2/internal.ts
  packages/navigation/test/v2.ts
  packages/router/src/Matcher.ts
  pnpm-lock.yaml
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

feat: handle popstate/hashchange events
  packages/navigation/src/v2/internal.ts
  packages/navigation/test/v2.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

refactor: remove some logs
  packages/navigation/src/v2/internal.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

feat: enable native navigation to work
  packages/fx/src/internal/helpers.ts
  packages/navigation/src/v2/internal.ts
  packages/navigation/test/v2.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

feat: better escape/unescape + fix text parts
  packages/fx/src/Form.ts
  packages/fx/src/RefSubject.ts
  packages/fx/test/ref-subject.ts
  packages/navigation/src/v2/internal.ts
  packages/route/src/index.ts
  packages/router/src/Matcher.ts
  packages/template/package.json
  packages/template/src/Html.ts
  packages/template/src/HtmlChunk.ts
  packages/template/src/Test.ts
  packages/template/src/internal/parts.ts
  packages/template/src/internal/render.ts
  packages/template/test/Html.ts
  vitest.config.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

feat: add filterMap + filter
  packages/route/src/index.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

chore: pre-alpha release
  .changeset/config.json
  .changeset/great-pens-check.md
Due: prettier --write --parser markdown --prose-wrap always

chore: update deps
  package.json
  packages/ui/tsconfig.build.json
  pnpm-lock.yaml
Due: none

chore: add missing fast-check dep
  packages/async-data/package.json
  pnpm-lock.yaml
Due: none

chore: exclude false positive and explicit circular dep
  package.json
Due: none

chore: fix lint and tests
  packages/async-data/test/index.ts
  packages/context/src/Cache.ts
  packages/context/src/Dequeue.ts
  packages/context/src/Enqueue.ts
  packages/context/src/Extensions.ts
  packages/context/src/KeyedPool.ts
  packages/context/src/Model.ts
  packages/context/src/Pool.ts
  packages/context/src/PubSub.ts
  packages/context/src/Queue.ts
  packages/context/src/Ref.ts
  packages/context/src/Repository.ts
  packages/context/src/Resource.ts
  packages/context/src/ScopedCache.ts
  packages/context/src/ScopedRef.ts
  packages/context/src/SynchronizedRef.ts
  packages/context/src/Tag.ts
  packages/environment/test/index.ts
  packages/fx/src/Match.ts
  packages/fx/src/internal/withKey.ts
  packages/router/test/index.ts
  packages/template/package.json
  packages/template/src/TemplateInstance.ts
  packages/template/test/bench.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

chore: don't fail with bench disabled
  packages/template/test/bench.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

chore: remove only
  packages/fx/test/core.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

chore: prefer project-relative imports, disable cjs vitest warning
  .vscode/settings.json
  vitest.config.mts
Due: none

fix: ensure tests still pass
  .vscode/settings.json
  packages/fx/src/Fx.ts
  packages/fx/src/internal/core.ts
  packages/fx/src/internal/keyed.ts
  packages/fx/src/internal/withKey.ts
  packages/fx/test/core.ts
  packages/template/src/ElementRef.ts
  vitest.config.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

fix: increase timeouts for CI
  packages/template/test/RenderQueue.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

Path conditions:
  eslint --ext .js,.jsx,.ts,.tsx --fix: any of: *.{ts, tsx}
  prettier --write --parser markdown --prose-wrap always: any of: *.md
