Repository TylorS/typed: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .js,.jsx,.ts,.tsx --fix, prettier --write --parser markdown --prose-wrap always

fix: ensure server doesn't reload periodically
  examples/realworld/vite.config.mts
Due: none

fix: unauthenticated actions in place of comments
  examples/realworld/src/ui/pages/article.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

fix: use non-relative links
  examples/realworld/src/ui/pages/article.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

WIP: creating new articles
  examples/realworld/src/ui/pages/editor.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

feat: use target with preventDefault/stop(Immediate)Propagation
  packages/template/src/EventHandler.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

fix: preventDefault on submit event
  examples/realworld/src/ui/pages/editor.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

fix: ensure CurrentEnvironment is set for all services
  packages/core/src/Node.ts
  packages/fx/src/RefSubject.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

feat: allow editing existing article
  examples/realworld/src/ui/components/EditArticle.ts
  examples/realworld/src/ui/pages/edit-article.ts
  examples/realworld/src/ui/pages/editor.ts
  examples/realworld/src/ui/router.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

fix: only use startsWith when end=false
  packages/router/src/CurrentRoute.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

fix: ensure NavLink works
  examples/realworld/src/ui/components/NavLink.ts
  examples/realworld/src/ui/layout.ts
  examples/realworld/src/ui/pages/home.ts
  examples/realworld/src/ui/pages/index.ts
  examples/realworld/src/ui/pages/profile-favorites.ts
  examples/realworld/src/ui/pages/profile.ts
  examples/realworld/src/ui/router.ts
  packages/core/src/Platform.ts
  packages/route/src/Route.ts
  packages/router/src/CurrentRoute.ts
  packages/ui/src/Link.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

fix: use Link component
  examples/realworld/src/ui/components/NavLink.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

chore: remove logs
  examples/realworld/src/ui/pages/profile.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

feat: attempt object.is equality first
  packages/fx/src/internal/core.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

perf: avoid intermediate array creations
  packages/fx/src/internal/core.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

fix: only return up to 10 tags related to favorites
  examples/realworld/src/api/tags/infrastructure/TagsLive.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

feat: profile pagination, ArticlePreview improvments
  examples/realworld/src/ui/components/ArticlePreview.ts
  examples/realworld/src/ui/pages/home.ts
  examples/realworld/src/ui/pages/profile.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

WIP: pagination
  examples/realworld/src/ui/components/Pagination.ts
  examples/realworld/src/ui/pages/home.ts
  examples/realworld/src/ui/pages/profile.ts
  packages/router/src/CurrentRoute.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

feat: enable My Feed for authenticated users
  examples/realworld/src/api/articles/infrastructure/ArticlesLive.ts
  examples/realworld/src/ui/components/NavLink.ts
  examples/realworld/src/ui/pages/home.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

docs: add basic docs for running the application
  examples/realworld/README.md
Due: prettier --write --parser markdown --prose-wrap always

docs: add mention of ports
  examples/realworld/README.md
Due: prettier --write --parser markdown --prose-wrap always

fix: some type errors
  examples/realworld/src/server.ts
  examples/realworld/src/ui/components/EditArticle.ts
  examples/realworld/src/ui/document.ts
  packages/core/src/Node.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

feat: add back OTEL
  examples/realworld/src/server.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

chore: remove unused import
  examples/realworld/src/server.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

chore: add large changeset
  .changeset/heavy-maps-learn.md
Due: prettier --write --parser markdown --prose-wrap always

test: fix flaky test
  packages/fx/test/core.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

fix: improve flaky test
  packages/fx/test/core.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

docs: add an initial readme
  docs/index.md
  readme.md
Due: prettier --write --parser markdown --prose-wrap always

docs: attempt to use svg in both readme and docs/index
  docs/index.md
  docs/typed.svg
  readme.md
Due: prettier --write --parser markdown --prose-wrap always

refactor: cleanup entry points a little
  examples/realworld/src/api/infrastructure.ts
  examples/realworld/src/client.ts
  examples/realworld/src/server.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

chore: ensure vite-plugin is installed
  examples/realworld/package.json
  pnpm-lock.yaml
Due: none

feat: EventOptions to configure event handlers
  .changeset/cyan-flies-dress.md
  packages/template/src/EventHandler.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix, prettier --write --parser markdown --prose-wrap always

fix: split comma-separated tag inputs
  examples/realworld/src/ui/components/EditArticle.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

chore: remove log
  examples/realworld/src/ui/layout.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

fix: ensure dropAfter ends the Fx
  packages/fx/src/Sink.ts
  packages/fx/src/internal/core.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

fix: ensure Fx always emit at least once
  packages/template/src/Html.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

chore: complete Effect updates
  .changeset/empty-comics-decide.md
  examples/realworld/src/api/common/infrastructure/errors.ts
  examples/realworld/src/lib/Schema.ts
  examples/realworld/src/server.ts
  examples/realworld/src/ui/components/EditArticle.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix, prettier --write --parser markdown --prose-wrap always

refactor: light reorganization
  examples/realworld/src/ui/components/ArticlePreview.ts
  examples/realworld/src/ui/pages/article.ts
  examples/realworld/src/ui/pages/settings.ts
  examples/realworld/src/ui/router.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

Path conditions:
  eslint --ext .js,.jsx,.ts,.tsx --fix: any of: *.{ts, tsx}
  prettier --write --parser markdown --prose-wrap always: any of: *.md
