Repository TylorS/typed: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .js,.jsx,.ts,.tsx --fix, prettier --write --parser markdown --prose-wrap always

.lintstagedrc:

{
  "*.{ts, tsx}": [
    "eslint --ext .js,.jsx,.ts,.tsx --fix"
  ],
  "*.md": [
    "prettier --write --parser markdown --prose-wrap always"
  ]
}

feat: Model should be able to be mapped and filtered
  packages/fx/src/Context/Model.ts
  packages/fx/test/context.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

refactor: set using Model.set
  packages/fx/test/context.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

docs: update docs
  docs/fx/Computed.ts.md
  docs/fx/Context.ts.md
  docs/fx/Context/Model.ts.md
  docs/fx/Context/RefSubject.ts.md
  docs/fx/Context/Subject.ts.md
  docs/fx/Filtered.ts.md
  docs/fx/Fx.ts.md
  docs/fx/FxEffect.ts.md
  docs/fx/RefSubject.ts.md
  docs/fx/Sink.ts.md
  docs/fx/Stream.ts.md
  docs/fx/Subject.ts.md
  docs/fx/TypeId.ts.md
  docs/fx/Typeclass.ts.md
  docs/fx/index.ts.md
  packages/fx/src/Context.ts
  packages/fx/src/Context/RefSubject.ts
  packages/fx/src/Context/Subject.ts
  packages/fx/src/Context/index.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix, prettier --write --parser markdown --prose-wrap always

docs: add some notes that the API is currently unpublished
  docs/index.md
Due: prettier --write --parser markdown --prose-wrap always

feat: allow providing a model with their Eqivalences
  packages/context/test/context.ts
  packages/fx/src/Context/Model.ts
  packages/fx/src/Context/RefSubject.ts
  packages/fx/test/context.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

chore: update docs
  docs/fx/Context/Model.ts.md
  docs/fx/Context/RefSubject.ts.md
Due: prettier --write --parser markdown --prose-wrap always

refactor: showcase effect subtypes
  packages/fx/test/context.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

refactor: scoped is no longer necessary
  packages/fx/test/context.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

feat: add support for nested models
  packages/fx/src/Context/Model.ts
  packages/fx/src/internal/fx.ts
  packages/fx/src/internal/share.ts
  packages/fx/test/context.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

docs: update docs
  docs/fx/Context/Model.ts.md
Due: prettier --write --parser markdown --prose-wrap always

test: add testing of fromKey
  packages/fx/test/context.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

feat: add primitive Sink combinators
  packages/fx/src/Sink.ts
  packages/fx/test/core.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

docs: add Sink combinator docs
  docs/fx/Sink.ts.md
  packages/fx/src/Sink.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix, prettier --write --parser markdown --prose-wrap always

feat: implement RefArray
  packages/fx/src/RefArray.ts
  packages/fx/src/RefSubject.ts
  packages/fx/src/TypeId.ts
  packages/fx/src/internal/core-ref-subject.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

refactor: widen most functions to accept any kind of RefSubject of an array
  packages/fx/src/RefArray.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

docs: add module docs to RefArray
  packages/fx/src/RefArray.ts
  packages/fx/src/index.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

docs: update docs
  docs/fx/RefArray.ts.md
  docs/fx/RefSubject.ts.md
  docs/fx/Sink.ts.md
  docs/fx/Stream.ts.md
  docs/fx/Subject.ts.md
  docs/fx/TypeId.ts.md
  docs/fx/Typeclass.ts.md
Due: prettier --write --parser markdown --prose-wrap always

docs: add missing doc comments
  docs/fx/RefArray.ts.md
  packages/fx/src/RefArray.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix, prettier --write --parser markdown --prose-wrap always

refactor: remove valueEq from RefArray, just make it super-type of RefSubject
  packages/fx/src/RefArray.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

feat: contextual RefArray
  packages/fx/src/Context.ts
  packages/fx/src/Context/RefArray.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

docs: update docs
  docs/fx/Context/RefArray.ts.md
  docs/fx/Context/RefSubject.ts.md
  docs/fx/Context/Subject.ts.md
  docs/fx/Filtered.ts.md
  docs/fx/Fx.ts.md
  docs/fx/FxEffect.ts.md
  docs/fx/RefArray.ts.md
  docs/fx/RefSubject.ts.md
  docs/fx/Sink.ts.md
  docs/fx/Stream.ts.md
  docs/fx/Subject.ts.md
  docs/fx/TypeId.ts.md
  docs/fx/Typeclass.ts.md
  docs/fx/index.ts.md
Due: prettier --write --parser markdown --prose-wrap always

refactor: re-export RefArray as a namespace
  packages/fx/src/Context.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

test: add test for Context.RefArray
  packages/fx/src/Context/RefArray.ts
  packages/fx/test/context.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

WIP: scaffold Navigation package
  packages/navigation/.prettierignore
  packages/navigation/LICENSE
  packages/navigation/README.md
  packages/navigation/docgen.json
  packages/navigation/package.json
  packages/navigation/src/Navigation.ts
  packages/navigation/tsconfig.build.json
  packages/navigation/tsconfig.examples.json
  packages/navigation/tsconfig.json
  packages/navigation/tsconfig.test.json
  packages/navigation/vitest.config.ts
  pnpm-lock.yaml
  tsconfig.base.json
  tsconfig.build.json
  tsconfig.json
  tsconfig.madge.json
Due: eslint --ext .js,.jsx,.ts,.tsx --fix, prettier --write --parser markdown --prose-wrap always

test: add a test for Request + RequestResolver
  packages/context/test/context.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

feat: allow extracting Resolver from Context.RequestResolver
  packages/context/src/RequestResolver.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

docs: fix type annotation
  packages/fx/src/Context/Subject.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

feat: widen Sink combinators to use WithContext
  packages/fx/src/Sink.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

docs: update docs
  docs/context/RequestResolver.ts.md
  docs/fx/Context/RefArray.ts.md
  docs/fx/Context/Subject.ts.md
  docs/fx/Sink.ts.md
  docs/navigation/Navigation.ts.md
  docs/navigation/index.md
  docs/path/index.md
  docs/remote-data/index.md
  docs/route/index.md
  docs/wire/index.md
  packages/navigation/src/Navigation.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix, prettier --write --parser markdown --prose-wrap always

fix: typo in exported function name
  packages/fx/src/Fx.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

chore: update docs
  docs/fx/Fx.ts.md
Due: prettier --write --parser markdown --prose-wrap always

feat: add schema to base.json
  packages/tsconfig/base.json
Due: none

docs: update docs
  docs/fx/Fx.ts.md
  packages/fx/src/Fx.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix, prettier --write --parser markdown --prose-wrap always

dcos: better docs for FxEffect
  packages/fx/src/FxEffect.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

test: add a test for transforming Context.Subject with Sink combinators
  packages/fx/test/context.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

WIP: fx tracing example, mostly for testing it
  examples/fx-tracing/.prettierignore
  examples/fx-tracing/LICENSE
  examples/fx-tracing/README.md
  examples/fx-tracing/docgen.json
  examples/fx-tracing/package.json
  examples/fx-tracing/src/index.ts
  examples/fx-tracing/tsconfig.build.json
  examples/fx-tracing/tsconfig.examples.json
  examples/fx-tracing/tsconfig.json
  examples/fx-tracing/tsconfig.test.json
  examples/fx-tracing/vitest.config.ts
  package.json
  packages/context/src/Many.ts
  packages/dom/src/DomServices.ts
  packages/fx/src/Fx.ts
  packages/fx/src/Sink.ts
  packages/fx/src/internal/core.ts
  packages/fx/src/internal/fx.ts
  packages/navigation/README.md
  packages/navigation/src/Navigation.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/common.js
  scripts/sync-project-references.js
  scripts/update-path-references.js
  tsconfig.base.json
  tsconfig.build.json
  tsconfig.json
  tsconfig.madge.json
Due: eslint --ext .js,.jsx,.ts,.tsx --fix, prettier --write --parser markdown --prose-wrap always

feat: improvements to Fx tracing
  examples/fx-tracing/src/index.ts
  packages/fx/src/Sink.ts
  packages/fx/src/internal/fx.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

feat: simplify Sink.withSpan
  packages/fx/src/Sink.ts
  packages/fx/src/internal/fx.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

refactor: rename withSpan -> setSpan
  packages/fx/src/Sink.ts
  packages/fx/src/internal/fx.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

WIP: some work on tracing
  .gitignore
  examples/fx-tracing/docker-compose.yml
  examples/fx-tracing/otel-configs/grafana-datasources.yaml
  examples/fx-tracing/otel-configs/prometheus.yaml
  examples/fx-tracing/otel-configs/tempo.yaml
  examples/fx-tracing/package.json
  examples/fx-tracing/src/index.ts
  packages/fx/test/context.ts
  packages/fx/test/core.ts
  pnpm-lock.yaml
Due: eslint --ext .js,.jsx,.ts,.tsx --fix
