Repository TylorS/typed: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .js,.jsx,.ts,.tsx --fix, prettier --write --parser markdown --prose-wrap always

.lintstagedrc:

{
  "*.{ts, tsx}": [
    "eslint --ext .js,.jsx,.ts,.tsx --fix"
  ],
  "*.md": [
    "prettier --write --parser markdown --prose-wrap always"
  ]
}

WIP: manage imports
  packages/compiler/src/Compiler.ts
  packages/compiler/src/typescript/factories.ts
  packages/compiler/test/index.ts
  packages/template/src/compiler-tools.ts
  packages/template/src/internal/v2/hydrate.ts
  packages/template/src/internal/v2/render.ts
  packages/wire/src/index.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

WIP: stack-safety
  packages/compiler/src/Compiler.ts
  packages/compiler/test/index.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

WIP: Mostly working DOM rendering
  packages/compiler/src/Compiler.ts
  packages/compiler/test/fixtures/div-with-sparse-class.ts
  packages/compiler/test/index.ts
  packages/template/src/compiler-tools.ts
  packages/template/src/internal/v2/hydrate.ts
  packages/template/src/internal/v2/render.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

WIP: merge renderTemplate + hydrateTemplate
  examples/realworld/src/client.ts
  packages/compiler/src/Compiler.ts
  packages/core/src/CoreServices.ts
  packages/template/src/Hydrate.ts
  packages/template/src/Test.ts
  packages/template/src/compiler-tools.ts
  packages/template/src/internal/v2/hydrate.ts
  packages/template/src/internal/v2/render.ts
  packages/template/test/Hydrate.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

WIP: make hydration more compatible with compiler
  .github/workflows/main.yml
  packages/compiler/src/Compiler.ts
  packages/template/src/Hydrate.ts
  packages/template/src/compiler-tools.ts
  packages/template/src/internal/HydrateContext.ts
  packages/template/src/internal/v2/render.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

WIP: update tests to match formatting changes
  packages/compiler/src/Compiler.ts
  packages/compiler/test/index.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

chore: upgrade deps
  examples/counter/package.json
  examples/fx-tracing/package.json
  examples/realworld/package.json
  examples/simple-ssr/package.json
  examples/storybook/package.json
  examples/todomvc/package.json
  package.json
  packages/async-data/package.json
  packages/compiler/package.json
  packages/context/package.json
  packages/core/package.json
  packages/decoder/package.json
  packages/dom/package.json
  packages/environment/package.json
  packages/fx/package.json
  packages/guard/package.json
  packages/id/package.json
  packages/navigation/package.json
  packages/path/package.json
  packages/route/package.json
  packages/router/package.json
  packages/server/package.json
  packages/storybook/package.json
  packages/template/package.json
  packages/ui/package.json
  packages/vite-plugin-types/package.json
  packages/vite-plugin/package.json
  pnpm-lock.yaml
Due: none

feat: multiple clients, optional server in vite plugin
  examples/realworld/src/ui/server.ts
  examples/realworld/vite.config.mts
  packages/core/src/Platform.ts
  packages/vite-plugin-types/index.d.ts
  packages/vite-plugin/src/plugin.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

chore: update realworld to latest
  examples/realworld/src/api/common/infrastructure/Passwords.ts
  examples/realworld/src/api/common/infrastructure/errors.ts
  examples/realworld/src/api/common/infrastructure/migrations/001_initial.ts
  examples/realworld/src/model/Article.ts
  examples/realworld/src/model/Comment.ts
  examples/realworld/src/model/Password.ts
  examples/realworld/src/model/Profile.ts
  examples/realworld/src/model/User.ts
  examples/realworld/src/services/CreateArticle.ts
  examples/realworld/src/services/CreateComment.ts
  examples/realworld/src/services/DeleteArticle.ts
  examples/realworld/src/services/DeleteComment.ts
  examples/realworld/src/services/GetArticle.ts
  examples/realworld/src/services/GetArticles.ts
  examples/realworld/src/services/GetFeed.ts
  examples/realworld/src/services/Login.ts
  examples/realworld/src/services/Register.ts
  examples/realworld/src/services/UpdateArticle.ts
  examples/realworld/src/services/UpdateUser.ts
  packages/server/src/RouterBuilder.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

chore: remove build dep
  .github/workflows/main.yml
  .github/workflows/pr.yml
Due: none

WIP: add support for more complex security schemes
  packages/server/src/V2/HttpApiBuilder.ts
  packages/server/src/V2/HttpApiSecurity.ts
  packages/server/src/V2/OpenApi.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

chore: upgrade deps
  examples/counter/package.json
  examples/fx-tracing/package.json
  examples/realworld/package.json
  examples/simple-ssr/package.json
  examples/storybook/package.json
  examples/todomvc/package.json
  package.json
  packages/async-data/package.json
  packages/compiler/package.json
  packages/compiler/tsconfig.test.json
  packages/context/package.json
  packages/core/package.json
  packages/decoder/package.json
  packages/dom/package.json
  packages/environment/package.json
  packages/fx/package.json
  packages/guard/package.json
  packages/id/package.json
  packages/navigation/package.json
  packages/path/package.json
  packages/route/package.json
  packages/router/package.json
  packages/server/package.json
  packages/storybook/package.json
  packages/template/package.json
  packages/ui/package.json
  packages/vite-plugin-types/package.json
  packages/vite-plugin/package.json
  pnpm-lock.yaml
Due: none

chore: fix eslint
  .eslintrc.cjs
  examples/simple-ssr/src/index.ts
  packages/compiler/src/typescript/Project.ts
  packages/compiler/test/index.ts
  packages/context/src/Tag.ts
  packages/core/src/Fx.ts
  packages/core/src/Platform.ts
  packages/core/src/RefSubject.ts
  packages/environment/src/index.ts
  packages/fx/src/internal/core.ts
  packages/fx/src/internal/protos.ts
  packages/fx/test/core.ts
  packages/navigation/src/internal/fromWindow.ts
  packages/navigation/src/internal/shared.ts
  packages/navigation/test/Navigation.ts
  packages/path/src/Interpolate.ts
  packages/path/src/ParamsOf.ts
  packages/route/test/AST.ts
  packages/server/src/HttpRouter.ts
  packages/server/src/index.ts
  packages/server/test/V2.ts
  packages/storybook/src/renderToCanvas.ts
  packages/template/src/ElementRef.ts
  packages/template/src/ElementSource.ts
  packages/template/src/RenderQueue.ts
  packages/template/src/internal/module-augmentation.ts
  packages/template/test/Render.ts
  packages/vite-plugin/src/plugin.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

Upgrade to latest Effect + Rewrite @typed/server in HttpApiBuilder style
  .changeset/breezy-months-sin.md
Due: prettier --write --parser markdown --prose-wrap always

docs: remove mention of mocks for now
  readme.md
Due: prettier --write --parser markdown --prose-wrap always

chore: lint fixes
  packages/path/src/ParamsOf.ts
  packages/server/src/Cookies.ts
  packages/server/src/Headers.ts
  packages/server/src/HttpApi.ts
  packages/server/src/HttpApiEndpoint.ts
  packages/server/src/HttpApiHandlers.ts
  packages/server/src/HttpApiSecurity.ts
  packages/server/src/HttpApiSwagger.ts
  packages/server/src/HttpApp.ts
  packages/server/src/HttpRouteHandler.ts
  packages/server/src/HttpRouter.ts
  packages/server/src/HttpServer.ts
  packages/server/src/HttpServerRequest.ts
  packages/server/src/HttpServerResponse.ts
  packages/server/src/index.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

fix: build before all steps
  .github/workflows/setup-repo/action.yml
Due: none

chore: Don't build twice
  .github/workflows/pr.yml
Due: none

chore: github ci fix
  .github/workflows/setup-repo/action.yml
Due: none

feat: really basic full-stack application
  .vscode/settings.json
  examples/simple-fullstack/.prettierignore
  examples/simple-fullstack/LICENSE
  examples/simple-fullstack/README.md
  examples/simple-fullstack/package.json
  examples/simple-fullstack/src/app.ts
  examples/simple-fullstack/src/browser.ts
  examples/simple-fullstack/src/server.ts
  examples/simple-fullstack/tsconfig.build.json
  examples/simple-fullstack/tsconfig.json
  examples/simple-fullstack/vite.config.mts
  examples/simple-fullstack/vitest.config.mts
  packages/compiler/tsconfig.test.json
  pnpm-lock.yaml
  tsconfig.base.json
  tsconfig.madge.json
Due: eslint --ext .js,.jsx,.ts,.tsx --fix, prettier --write --parser markdown --prose-wrap always

docs: add better readme
  examples/simple-fullstack/README.md
Due: prettier --write --parser markdown --prose-wrap always

@typed/core Browser module, Node updates
  .changeset/neat-seas-itch.md
  examples/simple-fullstack/src/app.ts
  examples/simple-fullstack/src/browser.ts
  examples/simple-fullstack/src/server.ts
  packages/core/src/Browser.ts
  packages/core/src/Node.ts
  packages/core/src/Platform.ts
  packages/core/src/index.ts
  packages/server/src/HttpApi.ts
  packages/server/src/HttpApiBuilder.ts
  packages/server/src/HttpApiRouter.ts
  packages/server/src/HttpRouter.ts
  packages/server/test/V2.ts
  packages/server/tsconfig.test.json
Due: eslint --ext .js,.jsx,.ts,.tsx --fix, prettier --write --parser markdown --prose-wrap always

@typed/core Browser module, Node updates (#66)
  .changeset/neat-seas-itch.md
  examples/simple-fullstack/src/app.ts
  examples/simple-fullstack/src/browser.ts
  examples/simple-fullstack/src/server.ts
  packages/core/src/Browser.ts
  packages/core/src/Node.ts
  packages/core/src/Platform.ts
  packages/core/src/index.ts
  packages/server/src/HttpApi.ts
  packages/server/src/HttpApiBuilder.ts
  packages/server/src/HttpApiRouter.ts
  packages/server/src/HttpRouter.ts
  packages/server/test/V2.ts
  packages/server/tsconfig.test.json
Due: eslint --ext .js,.jsx,.ts,.tsx --fix, prettier --write --parser markdown --prose-wrap always

docs: add missing docs
  packages/server/src/HttpApiRouter.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

chore: run tests with ultra
  package.json
Due: none

Node + Browser usage improvements (#67)
  package.json
  packages/server/src/HttpApiRouter.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

WIP: setting up HttpApiBuilder to work with full-stack rendering
  examples/realworld/.prettierignore
  examples/realworld/LICENSE
  examples/realworld/README.md
  examples/realworld/package.json
  examples/realworld/src/api/Articles.ts
  examples/realworld/src/api/Comments.ts
  examples/realworld/src/api/Profiles.ts
  examples/realworld/src/api/Realworld.ts
  examples/realworld/src/api/RealworldApi.ts
  examples/realworld/src/api/Tags.ts
  examples/realworld/src/api/Users.ts
  examples/realworld/src/api/index.ts
  examples/realworld/src/browser.ts
  examples/realworld/src/server.ts
  examples/realworld/src/ui/Main.ts
  examples/realworld/src/ui/Router.ts
  examples/realworld/src/ui/document.ts
  examples/realworld/src/ui/index.ts
  examples/realworld/tsconfig.build.json
  examples/realworld/tsconfig.json
  examples/realworld/vite.config.mts
  examples/realworld/vitest.config.mts
  packages/core/src/Browser.ts
  packages/core/src/Node.ts
  packages/core/src/Platform.ts
  packages/navigation/src/internal/fromWindow.ts
  packages/route/src/Route.ts
  packages/route/test/Route.ts
  packages/router/src/CurrentRoute.ts
  packages/router/src/RouteGuard.ts
  packages/server/src/HttpApiBuilder.ts
  packages/server/src/HttpApiEndpoint.ts
  packages/server/src/HttpApiGroup.ts
  packages/server/src/HttpApiHandlers.ts
  packages/server/src/HttpApiRouter.ts
  packages/server/src/HttpRouteHandler.ts
  packages/server/src/HttpRouter.ts
  packages/server/src/index.ts
  packages/server/src/internal/router.ts
  pnpm-lock.yaml
Due: eslint --ext .js,.jsx,.ts,.tsx --fix, prettier --write --parser markdown --prose-wrap always

fix uv_signal_start EINVAL error (#68)
  packages/core/src/Node.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

fix: preserve light theme syntax highlighting
  apps/website/src/site/styles.css
  apps/website/test/production-smoke.test.mjs
Due: none

perf(template): reconcile keyed ranges directly
  packages/template/benchmarks/many.bench.ts
  packages/template/benchmarks/vitest.config.ts
  packages/template/src/EventSource.ts
  packages/template/src/Render.ts
  packages/template/src/__tests__/EventSource.test.ts
  packages/template/src/__tests__/Render.many.browser.test.ts
  packages/template/src/__tests__/Render.many.test.ts
  packages/template/src/__tests__/diff.test.ts
  packages/template/src/__tests__/manyKey.test.ts
  packages/template/src/internal/diff.ts
  packages/template/src/internal/dom.ts
  packages/template/src/internal/hydration.ts
  packages/template/src/internal/manyKey.ts
  packages/template/src/internal/renderManyToDom.ts
  packages/template/src/internal/renderManyToHtml.ts
  packages/template/src/many.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

fix: retry beta verification during registry propagation
  scripts/publish-beta.sh
Due: none
