Repository TylorS/typed: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .js,.jsx,.ts,.tsx --fix, prettier --write --parser markdown --prose-wrap always

Publish
  packages/framework/package.json
  packages/html/package.json
  packages/router/package.json
Due: none

chore: upgrade dependencies
  package.json
  packages/cli/package.json
  packages/context/package.json
  packages/decoder/package.json
  packages/dom/package.json
  packages/error/package.json
  packages/framework/package.json
  packages/fx/package.json
  packages/html/package.json
  packages/navigation/package.json
  packages/nx-plugin/package.json
  packages/path/package.json
  packages/router/package.json
  packages/virtual-module/package.json
  packages/virtual/package.json
  packages/vite-plugin/package.json
  pnpm-lock.yaml
Due: none

feat: consolidate promise API
  packages/fx/src/index.ts
  packages/fx/src/promise.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

fix: ensure tokenizer correctly parses text until parts
  packages/html/src/tokenizer/tokenizer.test.ts
  packages/html/src/tokenizer/tokenizer.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

chore: finish updating effect deps
  package.json
  packages/decoder/package.json
  packages/dom/package.json
  packages/framework/package.json
  pnpm-lock.yaml
Due: none

chore: remove log
  packages/html/src/tokenizer/tokenizer.test.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

Publish
  packages/cli/package.json
  packages/context/package.json
  packages/decoder/package.json
  packages/dom/package.json
  packages/error/package.json
  packages/framework/package.json
  packages/fx/package.json
  packages/html/package.json
  packages/navigation/package.json
  packages/nx-plugin/package.json
  packages/path/package.json
  packages/route/package.json
  packages/router/package.json
  packages/virtual-module/package.json
  packages/virtual/package.json
  packages/vite-plugin/package.json
Due: none

fix: ensure tokenizer parses text until braces properly
  packages/html/src/tokenizer/tokenizer.test.ts
  packages/html/src/tokenizer/tokenizer.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

fix: ensure opening-tag-end parses correctly
  packages/html/src/tokenizer/tokenizer.test.ts
  packages/html/src/tokenizer/tokenizer.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

test: ensure our test is passing
  packages/html/src/tokenizer/tokenizer.test.ts
  packages/html/src/tokenizer/tokenizer.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

fix: forcefully ensure no RenderEvents cause problems
  packages/html/src/part/NodePart.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

chore: update devDeps
  package.json
  pnpm-lock.yaml
Due: none

WIP: working on a todomvc implementation
  examples/todomvc/package.json
  examples/todomvc/src/application.ts
  examples/todomvc/src/domain.ts
  examples/todomvc/src/index.html
  examples/todomvc/src/infrastructure.ts
  examples/todomvc/src/main.ts
  examples/todomvc/src/presentation.ts
  examples/todomvc/tsconfig.json
  examples/todomvc/vite.config.js
  packages/fx/src/data-first.ts
  packages/fx/src/index.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

feat: working todomvc, needs more styling
  examples/todomvc/package.json
  examples/todomvc/src/application.ts
  examples/todomvc/src/domain.ts
  examples/todomvc/src/infrastructure.ts
  examples/todomvc/src/main.ts
  examples/todomvc/src/presentation.ts
  examples/todomvc/src/styles.css
  packages/fx/src/Computed.ts
  packages/fx/src/Fx.ts
  packages/fx/src/RefSubject.ts
  packages/fx/src/fromEffect.ts
  packages/fx/src/multicast.ts
  pnpm-lock.yaml
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

refactor: remove excess log
  examples/todomvc/src/infrastructure.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

example: implement todomvc
  examples/todomvc/package.json
  examples/todomvc/src/application.ts
  examples/todomvc/src/domain.ts
  examples/todomvc/src/index.html
  examples/todomvc/src/infrastructure.ts
  examples/todomvc/src/main.ts
  examples/todomvc/src/presentation.ts
  examples/todomvc/src/styles.css
  package.json
  packages/cli/package.json
  packages/context/src/ref.ts
  packages/context/src/subject.ts
  packages/decoder/package.json
  packages/dom/package.json
  packages/dom/src/EventTarget.ts
  packages/dom/src/Storage.ts
  packages/framework/package.json
  packages/fx/package.json
  packages/html/package.json
  packages/html/src/EventHandler.ts
  packages/html/src/classNames.ts
  packages/html/src/index.ts
  packages/html/src/when.ts
  packages/navigation/package.json
  packages/nx-plugin/package.json
  packages/path/package.json
  packages/virtual-module/package.json
  packages/virtual/package.json
  packages/vite-plugin/package.json
  pnpm-lock.yaml
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

Publish
  packages/cli/package.json
  packages/context/package.json
  packages/decoder/package.json
  packages/dom/package.json
  packages/error/package.json
  packages/framework/package.json
  packages/fx/package.json
  packages/html/package.json
  packages/navigation/package.json
  packages/nx-plugin/package.json
  packages/path/package.json
  packages/route/package.json
  packages/router/package.json
  packages/virtual-module/package.json
  packages/virtual/package.json
  packages/vite-plugin/package.json
  pnpm-lock.yaml
Due: none

fix: ensure nested routers work
  packages/router/src/matchRoutes.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

Publish
  packages/framework/package.json
  packages/router/package.json
Due: none

fix: ensure text-only elements can close
  packages/html/src/tokenizer/tokenizer.test.ts
  packages/html/src/tokenizer/tokenizer.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

test: remove .only
  packages/html/src/tokenizer/tokenizer.test.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

fix: only diff against managed classNames
  packages/html/src/part/ClassNamePart.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

fix: attempt to return expected state
  packages/navigation/src/history.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

fix: ensure example still works
  example/routing.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

fix: allow effects in SchemaStorage
  example/schema-storage.ts
  examples/todomvc/src/infrastructure.ts
  packages/dom/src/Storage.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

feat: allow zooming in on key
  examples/todomvc/src/infrastructure.ts
  packages/dom/src/Storage.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

fix: ensure redirects are being properly captured
  examples/todomvc/src/infrastructure.ts
  packages/path/src/index.ts
  packages/router/src/Redirect.ts
  packages/router/src/matchRoutes.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

Publish
  packages/dom/package.json
  packages/framework/package.json
  packages/html/package.json
  packages/navigation/package.json
  packages/path/package.json
  packages/route/package.json
  packages/router/package.json
Due: none

fix: avoid flaky ordering issues
  packages/fx/src/mergeBufferConcurrently.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

fix: allow fast-path for all remaining values
  packages/fx/src/mergeBufferConcurrently.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

perf(html): micro-optimizations
  packages/html/src/browser/RenderTemplate.ts
  packages/html/src/server/RenderTemplate.ts
  packages/html/src/server/templateToHtmlChunks.ts
  packages/html/src/tokenizer/tokenizer.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

WIP(fx): Working on fusion of Fx
  packages/fx/src/Fx.ts
  packages/fx/src/RefSubject.ts
  packages/fx/src/Sink.ts
  packages/fx/src/Transducer.ts
  packages/fx/src/fusion.ts
  packages/fx/src/mergeBufferConcurrently.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

WIP(fx): more plans for fusion
  packages/fx/src/fusion.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

refactor: cleanup todomvc
  examples/todomvc/src/application.ts
  examples/todomvc/src/domain.ts
  examples/todomvc/src/index.html
  examples/todomvc/src/infrastructure.ts
  examples/todomvc/src/main.ts
  examples/todomvc/src/presentation.ts
  packages/fx/src/index.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

docs: add really basic docs for running todomvc example
  examples/todomvc/readme.md
Due: prettier --write --parser markdown --prose-wrap always

fix: use proper closing tag
  examples/todomvc/src/presentation.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

Path conditions:
  eslint --ext .js,.jsx,.ts,.tsx --fix: any of: *.{ts, tsx}
  prettier --write --parser markdown --prose-wrap always: any of: *.md
