Repository TylorS/typed: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .js,.jsx,.ts,.tsx --fix, prettier --write --parser markdown --prose-wrap always

refactor: finish swapping type-param orders
  .changeset/calm-garlics-sit.md
  packages/fx/src/Fx.ts
  packages/fx/src/RefSubject.ts
  packages/router/src/CurrentRoute.ts
  packages/router/src/Matcher.ts
  packages/storybook/src/types.ts
  packages/template/src/Directive.ts
  packages/template/src/ElementRef.ts
  packages/template/src/ElementSource.ts
  packages/template/src/EventHandler.ts
  packages/template/src/Html.ts
  packages/template/src/Hydrate.ts
  packages/template/src/Many.ts
  packages/template/src/Part.ts
  packages/template/src/Placeholder.ts
  packages/template/src/Platform.ts
  packages/template/src/Render.ts
  packages/template/src/RenderTemplate.ts
  packages/template/src/Renderable.ts
  packages/template/src/Test.ts
  packages/template/src/internal/EventSource.ts
  packages/template/src/internal/hydrate.ts
  packages/template/src/internal/module-augmentation.ts
  packages/template/src/internal/parts.ts
  packages/template/src/internal/render.ts
  packages/template/test/Html.ts
  packages/template/test/StaticHtml.ts
  packages/template/test/fixtures/test_components.ts
  packages/ui/src/Link.ts
  packages/ui/src/Props.ts
  packages/ui/src/hyperscript.ts
  packages/ui/src/internal/addEventListener.ts
  packages/ui/src/useClickAway.ts
  packages/ui/src/usePagination.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix, prettier --write --parser markdown --prose-wrap always

fix: update route with new Guard type param order
  .changeset/warm-apples-love.md
  packages/route/src/index.ts
  packages/template/src/internal/hydrate.ts
  packages/template/test/Html.ts
  packages/ui/src/Link.ts
  packages/ui/src/hyperscript.ts
  packages/ui/src/useClickAway.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix, prettier --write --parser markdown --prose-wrap always

example: update type-params in todomvc
  examples/todomvc/src/application.ts
  examples/todomvc/src/presentation.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

feat: fork interpolated template values synchronously
  .changeset/tall-ladybugs-pump.md
  packages/template/src/internal/hydrate.ts
  packages/template/src/internal/render.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix, prettier --write --parser markdown --prose-wrap always

test: attempt to fix flaky CI test
  packages/fx/test/core.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

feat: provide Runtime to RefSubject to inherit flags + fiberRefs
  packages/fx/src/RefSubject.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

feat: Converting RouteMatcher to @effect/platform Router
  .changeset/spicy-jars-watch.md
  examples/counter/src/index.ts
  examples/simple-ssr/src/index.ts
  examples/todomvc/src/index.ts
  packages/fx/src/internal/core.ts
  packages/router/src/Matcher.ts
  packages/storybook/src/renderToCanvas.ts
  packages/template/src/Html.ts
  packages/template/src/Hydrate.ts
  packages/template/src/Platform.ts
  packages/template/src/Render.ts
  packages/template/src/Test.ts
  packages/ui/src/Platform.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix, prettier --write --parser markdown --prose-wrap always

refactor: remove unneeded Effect.scoped
  examples/simple-ssr/src/index.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

test: update resources for HTML rendering
  packages/template/test/Html.ts
  packages/template/test/StaticHtml.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

fix: dataEqual should use itself to check nested equality
  packages/async-data/src/AsyncData.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

docs: ensure docs are up-to-date
  docs/router/Matcher.ts.md
  docs/template/Html.ts.md
  docs/template/Hydrate.ts.md
  docs/template/Platform.ts.md
  docs/template/Render.ts.md
  docs/template/Test.ts.md
  docs/ui/Platform.ts.md
  docs/ui/Props.ts.md
  docs/ui/useClickAway.ts.md
  docs/ui/usePagination.ts.md
  packages/router/src/Matcher.ts
  packages/ui/src/Platform.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix, prettier --write --parser markdown --prose-wrap always

feat(RefSubject): get/unsafeGet(Exit)
  .changeset/thirty-ants-complain.md
  packages/fx/src/RefSubject.ts
  packages/fx/src/Subject.ts
  packages/fx/src/Versioned.ts
  packages/fx/test/core.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix, prettier --write --parser markdown --prose-wrap always

feat: update FormEntry to new RefSubject interface
  packages/fx/src/FormEntry.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

feat(RefSubject): get/unsafeGet(Exit) (#47)
  .changeset/thirty-ants-complain.md
  packages/fx/src/FormEntry.ts
  packages/fx/src/RefSubject.ts
  packages/fx/src/Subject.ts
  packages/fx/src/Versioned.ts
  packages/fx/test/core.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix, prettier --write --parser markdown --prose-wrap always

chore: make it easier to apply codemods to all packages
  package.json
  pnpm-lock.yaml
  scripts/effect-codemod.js
Due: none

chore: upgrade to Effect 2.4
  .changeset/sour-nails-divide.md
  examples/counter/package.json
  examples/fx-tracing/package.json
  examples/simple-ssr/package.json
  examples/storybook/package.json
  examples/todomvc/package.json
  package.json
  packages/async-data/package.json
  packages/async-data/src/AsyncData.ts
  packages/context/package.json
  packages/context/src/Resource.ts
  packages/core/package.json
  packages/decoder/package.json
  packages/dom/package.json
  packages/environment/package.json
  packages/fx/package.json
  packages/fx/src/Fx.ts
  packages/fx/src/Pull.ts
  packages/fx/src/RefSubject.ts
  packages/fx/src/Sink.ts
  packages/fx/src/Subject.ts
  packages/fx/src/Typeclass.ts
  packages/fx/src/internal/core.ts
  packages/fx/src/internal/effect-producer.ts
  packages/fx/src/internal/helpers.ts
  packages/fx/src/internal/loop-operator.ts
  packages/id/package.json
  packages/navigation/package.json
  packages/navigation/src/internal/shared.ts
  packages/route/package.json
  packages/router/package.json
  packages/storybook/package.json
  packages/template/package.json
  packages/template/src/RenderContext.ts
  packages/template/src/internal/hydrate.ts
  packages/ui/package.json
  packages/ui/src/Props.ts
  pnpm-lock.yaml
Due: eslint --ext .js,.jsx,.ts,.tsx --fix, prettier --write --parser markdown --prose-wrap always

chore: lint fix
  packages/template/src/internal/hydrate.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

chore: update docs
  docs/async-data/AsyncData.ts.md
  docs/context/Resource.ts.md
  docs/fx/Fx.ts.md
  docs/fx/Pull.ts.md
  docs/fx/RefSubject.ts.md
  docs/ui/Props.ts.md
Due: prettier --write --parser markdown --prose-wrap always

feat: Extract @typed/fx/Guard to @typed/guard for reuse in @typed/route
  .changeset/quick-lobsters-lick.md
  packages/fx/package.json
  packages/fx/src/Match.ts
  packages/guard/.prettierignore
  packages/guard/LICENSE
  packages/guard/README.md
  packages/guard/docgen.json
  packages/guard/package.json
  packages/guard/src/index.ts
  packages/guard/test/index.ts
  packages/guard/tsconfig.build.json
  packages/guard/tsconfig.examples.json
  packages/guard/tsconfig.json
  packages/guard/tsconfig.test.json
  packages/guard/vitest.config.ts
  packages/route/package.json
  packages/route/src/index.ts
  packages/route/tsconfig.build.json
  packages/router/src/Matcher.ts
  packages/router/tsconfig.build.json
  packages/storybook/tsconfig.build.json
  pnpm-lock.yaml
  tsconfig.base.json
  tsconfig.build.json
  tsconfig.json
  tsconfig.madge.json
Due: eslint --ext .js,.jsx,.ts,.tsx --fix, prettier --write --parser markdown --prose-wrap always

refactor: remove @typed/fx/Guard module
  packages/fx/src/Guard.ts
  packages/fx/src/index.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

docs: update docs
  docs/fx/Guard.ts.md
  docs/fx/Idle.ts.md
  docs/fx/Match.ts.md
  docs/fx/Pull.ts.md
  docs/fx/Push.ts.md
  docs/fx/RefArray.ts.md
  docs/fx/RefChunk.ts.md
  docs/fx/RefHashMap.ts.md
  docs/fx/RefHashSet.ts.md
  docs/fx/RefSubject.ts.md
  docs/fx/Sink.ts.md
  docs/fx/Stream.ts.md
  docs/fx/Subject.ts.md
  docs/fx/TypeId.ts.md
  docs/fx/Typeclass.ts.md
  docs/fx/Versioned.ts.md
  docs/fx/index.ts.md
  docs/guard/index.md
  docs/guard/index.ts.md
  docs/id/index.md
  docs/navigation/index.md
  docs/path/index.md
  docs/route/index.md
  docs/route/index.ts.md
  docs/router/index.md
  docs/storybook/index.md
  docs/template/index.md
  docs/ui/index.md
  docs/wire/index.md
Due: prettier --write --parser markdown --prose-wrap always

test: Fix import
  packages/fx/test/match.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

fix: use @typed/guard for Guard
  .changeset/warm-donuts-report.md
  docs/core/Guard.ts.md
  packages/core/package.json
  packages/core/src/Guard.ts
  packages/core/tsconfig.build.json
  pnpm-lock.yaml
Due: eslint --ext .js,.jsx,.ts,.tsx --fix, prettier --write --parser markdown --prose-wrap always

feat: expand Guard combinators
  .changeset/unlucky-yaks-argue.md
  docs/guard/index.ts.md
  package.json
  packages/dom/package.json
  packages/guard/package.json
  packages/guard/src/index.ts
  packages/route/package.json
  packages/route/src/index.ts
  packages/route/test/index.ts
  pnpm-lock.yaml
Due: eslint --ext .js,.jsx,.ts,.tsx --fix, prettier --write --parser markdown --prose-wrap always

chore: add back effect devDep for tests
  package.json
  pnpm-lock.yaml
Due: none

example: add primitive react rendering
  examples/react-counter/.prettierignore
  examples/react-counter/LICENSE
  examples/react-counter/README.md
  examples/react-counter/package.json
  examples/react-counter/src/index.html
  examples/react-counter/src/index.tsx
  examples/react-counter/tsconfig.build.json
  examples/react-counter/tsconfig.examples.json
  examples/react-counter/tsconfig.json
  examples/react-counter/tsconfig.test.json
  examples/react-counter/vite.config.ts
  examples/react-counter/vitest.config.mts
  packages/template/src/internal/render.ts
  pnpm-lock.yaml
Due: eslint --ext .js,.jsx,.ts,.tsx --fix, prettier --write --parser markdown --prose-wrap always

feat: rewrite @typed/path
  .changeset/proud-tomatoes-study.md
  docs/path/DSL.ts.md
  docs/path/Interpolate.ts.md
  docs/path/ParamsOf.ts.md
  docs/path/PathJoin.ts.md
  docs/path/index.ts.md
  docs/route/index.ts.md
  packages/path/src/DSL.ts
  packages/path/src/Interpolate.ts
  packages/path/src/ParamsOf.ts
  packages/path/src/PathJoin.ts
  packages/path/src/index.ts
  packages/path/src/internal/ast.ts
  packages/path/test/type-level/path.ts
  packages/route/src/index.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix, prettier --write --parser markdown --prose-wrap always

refactor: ensure TS builds fine in generic context
  packages/path/src/Interpolate.ts
  packages/path/src/ParamsOf.ts
  packages/router/src/CurrentRoute.ts
  packages/router/src/Matcher.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

perf: Optimize Guard.any
  .changeset/witty-files-brake.md
  packages/guard/src/index.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix, prettier --write --parser markdown --prose-wrap always

feat: add missing operators
  .changeset/forty-feet-battle.md
  packages/fx/src/Fx.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix, prettier --write --parser markdown --prose-wrap always

chore: upgrade deps
  examples/fx-tracing/package.json
  examples/react-counter/package.json
  examples/simple-ssr/package.json
  examples/todomvc/package.json
  package.json
  packages/async-data/package.json
  packages/context/package.json
  packages/core/package.json
  packages/decoder/package.json
  packages/dom/package.json
  packages/fx/package.json
  packages/guard/package.json
  packages/id/package.json
  packages/navigation/package.json
  packages/route/package.json
  packages/storybook/package.json
  packages/template/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Due: none

feat: change param order of RefSubject.tagged
  .changeset/long-doors-judge.md
  packages/fx/src/RefArray.ts
  packages/fx/src/RefChunk.ts
  packages/fx/src/RefHashMap.ts
  packages/fx/src/RefHashSet.ts
  packages/fx/src/RefSubject.ts
  packages/fx/test/core.ts
  packages/fx/test/form.ts
  packages/fx/test/tagged.ts
  packages/fx/test/v3.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix, prettier --write --parser markdown --prose-wrap always

feat: change param order of EventHandler.make
  .changeset/quiet-bulldogs-stare.md
  packages/template/src/EventHandler.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix, prettier --write --parser markdown --prose-wrap always

fix: update todomvc to newer syntax
  examples/todomvc/src/application.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

feat: improve type-level performance of Path.ParamsOf + Path.Interpolate
  .changeset/chilly-lobsters-refuse.md
  docs/fx/Fx.ts.md
  docs/fx/RefSubject.ts.md
  docs/path/Interpolate.ts.md
  docs/path/ParamsOf.ts.md
  docs/router/CurrentRoute.ts.md
  docs/template/EventHandler.ts.md
  packages/path/src/Interpolate.ts
  packages/path/src/ParamsOf.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix, prettier --write --parser markdown --prose-wrap always

fix: parameter order of RouterMatcher.match
  .changeset/real-timers-worry.md
  packages/router/src/Matcher.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix, prettier --write --parser markdown --prose-wrap always

fix: Better inference for Placeholders
  .changeset/real-dingos-tie.md
  packages/template/src/Placeholder.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix, prettier --write --parser markdown --prose-wrap always

feat: get HTML rendering from server
  .vscode/settings.json
  examples/realworld/package.json
  examples/realworld/src/api/routes.ts
  examples/realworld/src/client.ts
  examples/realworld/src/client/components/AuthenticatedHeader.ts
  examples/realworld/src/client/components/Footer.ts
  examples/realworld/src/client/components/Header.ts
  examples/realworld/src/client/components/UnauthenticatedHeader.ts
  examples/realworld/src/client/document.ts
  examples/realworld/src/client/infrastructure/Live.ts
  examples/realworld/src/client/infrastructure/index.ts
  examples/realworld/src/client/pages/article.ts
  examples/realworld/src/client/pages/editArticle.ts
  examples/realworld/src/client/pages/editor.ts
  examples/realworld/src/client/pages/favorites.ts
  examples/realworld/src/client/pages/home.ts
  examples/realworld/src/client/pages/login.ts
  examples/realworld/src/client/pages/profile.ts
  examples/realworld/src/client/pages/register.ts
  examples/realworld/src/client/pages/settings.ts
  examples/realworld/src/client/router.ts
  examples/realworld/src/server.ts
  examples/realworld/tsconfig.build.json
  examples/realworld/vite.config.mts
  packages/storybook/src/renderToCanvas.ts
  packages/template/src/Html.ts
  packages/template/src/Test.ts
  packages/template/src/internal/parser.ts
  packages/template/src/internal/render.ts
  packages/template/test/Html.ts
  packages/ui/src/Platform.ts
  pnpm-lock.yaml
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

Path conditions:
  eslint --ext .js,.jsx,.ts,.tsx --fix: any of: *.{ts, tsx}
  prettier --write --parser markdown --prose-wrap always: any of: *.md
