Repository TylorS/typed: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .js,.jsx,.ts,.tsx --fix, prettier --write --parser markdown --prose-wrap always

chore: add missing changeset
  .changeset/tasty-guests-breathe.md
Due: prettier --write --parser markdown --prose-wrap always

chore: update docs
  docs/async-data/Schema.ts.md
  docs/ui/Anchor.ts.md
Due: prettier --write --parser markdown --prose-wrap always

feat: update hydrate to new part creation
  packages/template/src/internal/errors.ts
  packages/template/src/internal/hydrate.ts
  packages/template/src/internal/parser.ts
  packages/template/src/internal/render.ts
  packages/template/test/Parser.ts
  packages/template/vitest.config.mts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

feat: update hydrate to new part creation
  .changeset/thin-geckos-rhyme.md
  packages/fx/test/core.ts
  packages/template/src/internal/chunks.ts
  packages/template/src/internal/hydrate.ts
  packages/template/src/internal/parser.ts
  packages/template/src/internal/render.ts
  packages/template/test/Parser.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix, prettier --write --parser markdown --prose-wrap always

perf: cache tagName regex matchers
  .changeset/angry-ducks-study.md
  packages/template/src/internal/chunks.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix, prettier --write --parser markdown --prose-wrap always

feat: separate once handlers
  packages/template/src/internal/EventSource.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

fix: manually track Fibers
  .changeset/cyan-maps-live.md
  packages/template/src/internal/EventSource.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix, prettier --write --parser markdown --prose-wrap always

fix: ensure RefSubject resources are cleaned appropriately
  .changeset/poor-pumas-mate.md
  examples/todomvc/src/application.ts
  packages/fx/src/RefSubject.ts
  packages/fx/src/Subject.ts
  packages/fx/test/v3.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix, prettier --write --parser markdown --prose-wrap always

fix: classes/events in .props
  examples/todomvc/src/presentation.ts
  packages/template/src/internal/render.ts
  packages/ui/src/Anchor.ts
  packages/ui/src/Link.ts
  packages/ui/src/Props.ts
  packages/ui/src/dom-properties.ts
  packages/ui/src/index.ts
  packages/ui/src/useClickAway.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

fix: improve resource management
  examples/todomvc/src/presentation.ts
  packages/fx/src/RefSubject.ts
  packages/fx/src/Subject.ts
  packages/fx/src/internal/DeferredRef.ts
  packages/fx/src/internal/core.ts
  packages/fx/src/internal/diff.ts
  packages/fx/src/internal/helpers.ts
  packages/fx/src/internal/keyed.ts
  packages/fx/src/internal/share.ts
  packages/fx/test/v3.ts
  packages/template/src/internal/render.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

fix: remove unnecessary log
  packages/template/src/internal/render.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

feat: add support for spread props + multiple props parts
  packages/router/src/Matcher.ts
  packages/template/src/internal/hydrate.ts
  packages/template/src/internal/parser.ts
  packages/template/src/internal/render.ts
  packages/template/test/Parser.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

chore: remove log
  examples/todomvc/src/presentation.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

chore: add ui to exclusions
  examples/todomvc/vite.config.mts
Due: none

fix: add spread part to template.parts
  packages/template/src/internal/parser.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

fix: flatten nested arrays
  packages/template/src/internal/render.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

feat: use spread attributes
  packages/ui/src/Anchor.ts
  packages/ui/src/Component.ts
  packages/ui/src/Props.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

feat: improve Schemas
  packages/async-data/src/AsyncData.ts
  packages/async-data/src/Progress.ts
  packages/async-data/src/Schema.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

refactor: add variance annotations
  packages/fx/src/Emitter.ts
  packages/fx/src/Form.ts
  packages/fx/src/Guard.ts
  packages/fx/src/Match.ts
  packages/fx/src/Pull.ts
  packages/fx/src/Push.ts
  packages/fx/src/RefArray.ts
  packages/fx/src/RefChunk.ts
  packages/fx/src/RefHashMap.ts
  packages/fx/src/RefHashSet.ts
  packages/fx/src/RefSubject.ts
  packages/fx/src/Subject.ts
  packages/fx/src/Versioned.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

feat: upgrade all dependencies
  .changeset/healthy-hotels-sin.md
  examples/counter/package.json
  examples/fx-tracing/package.json
  examples/simple-ssr/package.json
  examples/todomvc/package.json
  package.json
  packages/async-data/package.json
  packages/context/package.json
  packages/dom/package.json
  packages/environment/package.json
  packages/fx/package.json
  packages/fx/src/Fx.ts
  packages/fx/src/Idle.ts
  packages/id/package.json
  packages/navigation/package.json
  packages/navigation/src/internal/fromWindow.ts
  packages/navigation/test/Navigation.ts
  packages/route/package.json
  packages/router/package.json
  packages/template/package.json
  packages/template/src/Test.ts
  packages/template/test/Parser.ts
  packages/ui/package.json
  pnpm-lock.yaml
Due: eslint --ext .js,.jsx,.ts,.tsx --fix, prettier --write --parser markdown --prose-wrap always

chore: update docs
  docs/async-data/AsyncData.ts.md
  docs/async-data/Progress.ts.md
  docs/async-data/Schema.ts.md
  docs/fx/Emitter.ts.md
  docs/fx/Form.ts.md
  docs/fx/Guard.ts.md
  docs/fx/Match.ts.md
  docs/fx/Pull.ts.md
  docs/fx/Push.ts.md
  docs/fx/RefArray.ts.md
  docs/fx/RefChunk.ts.md
  docs/fx/RefHashMap.ts.md
  docs/fx/RefHashSet.ts.md
  docs/fx/RefSubject.ts.md
  docs/fx/Subject.ts.md
  docs/fx/Versioned.ts.md
  docs/template/Test.ts.md
  docs/ui/Anchor.ts.md
  docs/ui/Component.ts.md
  docs/ui/Link.ts.md
  docs/ui/Props.ts.md
  docs/ui/dom-properties.ts.md
  docs/ui/index.ts.md
  docs/ui/useClickAway.ts.md
  docs/ui/usePagination.ts.md
  packages/async-data/src/Schema.ts
  packages/ui/src/Props.ts
  packages/ui/src/dom-properties.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix, prettier --write --parser markdown --prose-wrap always

test: update error messages
  packages/fx/test/form.ts
  packages/fx/test/v3.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

test: fix parser test
  packages/template/test/Parser.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

fix: Ensure RefSubject.tuple/struct use Fx.hold
  .changeset/healthy-wasps-lie.md
  packages/fx/src/RefSubject.ts
  packages/fx/src/Versioned.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix, prettier --write --parser markdown --prose-wrap always

fix: ensure clearCompletedTodos finishes
  examples/todomvc/src/presentation.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

refactor: use Runtime Scope param
  .changeset/silver-zoos-smash.md
  package.json
  packages/dom/src/internal/_helpers.ts
  packages/fx/src/Emitter.ts
  packages/navigation/src/internal/fromWindow.ts
  pnpm-lock.yaml
Due: eslint --ext .js,.jsx,.ts,.tsx --fix, prettier --write --parser markdown --prose-wrap always

refactor: use FiberSet for unboundedFork
  .changeset/proud-kangaroos-shop.md
  packages/fx/src/internal/helpers.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix, prettier --write --parser markdown --prose-wrap always

fix: ensure Emitter still works
  packages/fx/src/Emitter.ts
  packages/fx/src/Fx.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

fix: we don't really want these scoped
  packages/dom/src/internal/_helpers.ts
  packages/navigation/src/internal/fromWindow.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

fix: Improve event listener scoping
  .changeset/hip-lemons-work.md
  examples/todomvc/src/presentation.ts
  packages/template/src/internal/render.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix, prettier --write --parser markdown --prose-wrap always

refactor: inline button
  examples/todomvc/src/presentation.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

feat: add hyperscript helpers
  .changeset/beige-chicken-invite.md
  docs/context/Fn.ts.md
  docs/context/Model.ts.md
  docs/fx/Emitter.ts.md
  docs/fx/Fx.ts.md
  docs/path/index.ts.md
  docs/ui/Anchor.ts.md
  docs/ui/Component.ts.md
  docs/ui/Link.ts.md
  docs/ui/Props.ts.md
  docs/ui/dom-properties.ts.md
  docs/ui/hyperscript.ts.md
  docs/ui/index.ts.md
  packages/ui/src/Anchor.ts
  packages/ui/src/Link.ts
  packages/ui/src/Props.ts
  packages/ui/src/dom-properties.ts
  packages/ui/src/hyperscript.ts
  packages/ui/src/index.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix, prettier --write --parser markdown --prose-wrap always

chore: upgrade Effect
  .changeset/late-years-play.md
  examples/counter/package.json
  examples/fx-tracing/package.json
  examples/simple-ssr/package.json
  examples/todomvc/package.json
  package.json
  packages/async-data/package.json
  packages/context/package.json
  packages/dom/package.json
  packages/environment/package.json
  packages/fx/package.json
  packages/id/package.json
  packages/navigation/package.json
  packages/route/package.json
  packages/router/package.json
  packages/template/package.json
  packages/ui/package.json
  packages/ui/src/Component.ts
  pnpm-lock.yaml
Due: eslint --ext .js,.jsx,.ts,.tsx --fix, prettier --write --parser markdown --prose-wrap always

feat: initial Decoder package
  .changeset/twenty-colts-work.md
  packages/decoder/.prettierignore
  packages/decoder/LICENSE
  packages/decoder/README.md
  packages/decoder/docgen.json
  packages/decoder/package.json
  packages/decoder/src/Decoder.ts
  packages/decoder/src/index.ts
  packages/decoder/tsconfig.build.json
  packages/decoder/tsconfig.examples.json
  packages/decoder/tsconfig.json
  packages/decoder/tsconfig.test.json
  packages/decoder/vitest.config.ts
  pnpm-lock.yaml
  tsconfig.base.json
  tsconfig.build.json
  tsconfig.json
  tsconfig.madge.json
Due: eslint --ext .js,.jsx,.ts,.tsx --fix, prettier --write --parser markdown --prose-wrap always

chore: fix vitest config
  packages/decoder/vitest.config.ts
  scripts/new-package/files/vitest.config.ts.template
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

test: add some basic Decoder tests
  packages/decoder/src/index.ts
  packages/decoder/test/index.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

refactor: remove useless file
  packages/decoder/src/Decoder.ts
  packages/decoder/src/index.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

feat: add doctype
  examples/simple-ssr/src/index.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

fix: ensure all forked Fibers are attached to Scope
  .changeset/small-shoes-wonder.md
  examples/counter/package.json
  examples/fx-tracing/package.json
  examples/simple-ssr/package.json
  examples/todomvc/package.json
  package.json
  packages/async-data/package.json
  packages/context/package.json
  packages/decoder/package.json
  packages/dom/package.json
  packages/dom/src/internal/_helpers.ts
  packages/environment/package.json
  packages/fx/package.json
  packages/fx/src/Emitter.ts
  packages/id/package.json
  packages/navigation/package.json
  packages/navigation/src/internal/fromWindow.ts
  packages/route/package.json
  packages/router/package.json
  packages/template/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Due: eslint --ext .js,.jsx,.ts,.tsx --fix, prettier --write --parser markdown --prose-wrap always

Path conditions:
  eslint --ext .js,.jsx,.ts,.tsx --fix: any of: *.{ts, tsx}
  prettier --write --parser markdown --prose-wrap always: any of: *.md
