Repository TylorS/typed: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .js,.jsx,.ts,.tsx --fix, prettier --write --parser markdown --prose-wrap always

Publish
  packages/vite-plugin/package.json
Due: none

fix: improve output strategy
  packages/vite-plugin/src/vite-plugin.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

chore: remove additional checks for id
  packages/vite-plugin/src/vite-plugin.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

feat: add fileName
  packages/compiler/src/buildClientSideEntrypoint.ts
  packages/compiler/src/buildExpressEntrypoint.ts
  packages/vite-plugin/src/vite-plugin.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

feat: Fx.mergeRace
  packages/fx/src/operator/index.ts
  packages/fx/src/operator/mergeRace.test.ts
  packages/fx/src/operator/mergeRace.ts
  packages/fx/src/run/observe.ts
  packages/fx/src/run/reduce.ts
  packages/fx/src/run/run.ts
  packages/fx/src/run/unsafe.ts
  vite.config.ts.timestamp-1672886179100.mjs
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

chore: remove transient file
  vite.config.ts.timestamp-1672886179100.mjs
Due: none

Publish
  packages/compiler/package.json
  packages/context/package.json
  packages/dom/package.json
  packages/framework/package.json
  packages/fx/package.json
  packages/html/package.json
  packages/router/package.json
  packages/vite-plugin/package.json
Due: none

feat: support base routes
  packages/fx/src/Subject/RefSubject.ts
  packages/path/src/index.ts
  packages/router/src/Link.ts
  packages/router/src/RouteMatcher.ts
  packages/router/src/router.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

chore: update packages
  packages/benchmark/package.json
  packages/compiler/package.json
  packages/context/package.json
  packages/dom/package.json
  packages/framework/package.json
  packages/fx/package.json
  packages/html/package.json
  packages/internal/package.json
  packages/nx-plugin/package.json
  packages/path/package.json
  packages/route/package.json
  packages/router/package.json
  tools/updatePackages.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

Publish
  packages/benchmark/package.json
  packages/compiler/package.json
  packages/context/package.json
  packages/dom/package.json
  packages/framework/package.json
  packages/fx/package.json
  packages/html/package.json
  packages/internal/package.json
  packages/nx-plugin/package.json
  packages/path/package.json
  packages/route/package.json
  packages/router/package.json
  packages/vite-plugin/package.json
Due: none

chore: don't put empty objects in here
  tools/updatePackages.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

feat: add an initial implementation of fetching a raw response with progress
  packages/dom/src/Fetch.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

feat: delete progress fetch for now
  packages/dom/src/Fetch.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

feat: enable more custom setups
  example/browser.ts
  example/compiler-test.ts
  example/server-compiler-test.ts
  example/server.ts
  packages/compiler/src/buildClientSideEntrypoint.ts
  packages/compiler/src/buildExpressEntrypoint.ts
  packages/compiler/src/helpers.ts
  packages/vite-plugin/src/browser.ts
  packages/vite-plugin/src/index.ts
  packages/vite-plugin/src/server.ts
  packages/vite-plugin/src/virtual-modules.d.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

feat: update example to use virtual modules customly
  example/browser.ts
  example/server.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

Publish
  packages/compiler/package.json
  packages/dom/package.json
  packages/framework/package.json
  packages/html/package.json
  packages/router/package.json
  packages/vite-plugin/package.json
Due: none

fix: remove unused import
  packages/compiler/src/buildClientSideEntrypoint.ts
  packages/compiler/src/buildExpressEntrypoint.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

Publish
  packages/compiler/package.json
  packages/vite-plugin/package.json
Due: none

feat: enable entrypoints to specify where to look
  example/browser.ts
  example/server.ts
  packages/compiler/src/buildClientSideEntrypoint.ts
  packages/compiler/src/buildExpressEntrypoint.ts
  packages/vite-plugin/src/browser.ts
  packages/vite-plugin/src/server.ts
  packages/vite-plugin/src/virtual-modules.d.ts
  packages/vite-plugin/src/vite-plugin.ts
  vite.config.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

fix: allow relative imports for virtual imports
  packages/vite-plugin/src/vite-plugin.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

feat: expose modules directly
  packages/compiler/src/buildClientSideEntrypoint.ts
  packages/compiler/src/buildExpressEntrypoint.ts
  packages/vite-plugin/src/virtual-modules.d.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

feat: improve compiler output
  example/compiler-test.ts
  example/server-compiler-test.ts
  packages/compiler/src/buildClientSideEntrypoint.ts
  packages/compiler/src/buildExpressEntrypoint.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

feat: unpatch history when finalized
  packages/router/src/router.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

WIP: movement to more custom workflows
  example/browser.ts
  example/server-compiler-test.ts
  example/server.ts
  packages/compiler/src/buildClientSideEntrypoint.ts
  packages/compiler/src/buildEntrypoint.ts
  packages/compiler/src/buildExpressEntrypoint.ts
  packages/compiler/src/buildRenderableModule.ts
  packages/compiler/src/buildServerEntrypoint.ts
  packages/compiler/src/cli.ts
  packages/vite-plugin/src/virtual-modules.d.ts
  packages/vite-plugin/src/vite-plugin.ts
  readme.md
Due: eslint --ext .js,.jsx,.ts,.tsx --fix, prettier --write --parser markdown --prose-wrap always

docs: update upcoming section
  readme.md
Due: prettier --write --parser markdown --prose-wrap always

feat: begin refactoring server modules
  example/server.ts
  packages/compiler/src/buildServerEntrypoint.ts
  packages/compiler/src/makeServerWindow.ts
  packages/compiler/src/runExpressApp.ts
  packages/vite-plugin/src/virtual-modules.d.ts
  readme.md
Due: eslint --ext .js,.jsx,.ts,.tsx --fix, prettier --write --parser markdown --prose-wrap always

feat: read modules as a tree structure
  packages/compiler/src/SourceFileModule.ts
  packages/compiler/src/readDirectory.ts
  packages/compiler/src/readModules.test.ts
  packages/compiler/src/readModules.ts
  packages/compiler/src/scanSourceFiles.test.ts
  packages/compiler/src/scanSourceFiles.ts
  packages/framework/src/Module.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

chore: add missing info
  packages/compiler/src/readModules.test.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

refactor: remove intermediate directories
  packages/compiler/src/readModules.test.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

feat: improved version of making a source file for a directory of modules
  packages/compiler/src/SourceFileModule.ts
  packages/compiler/src/makeModuleSourceFile.test.ts
  packages/compiler/src/makeModuleSourceFile.ts
  packages/compiler/src/readModules.ts
  packages/compiler/src/scanSourceFiles.ts
  packages/compiler/src/ts-morph-helpers.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

feat: expose fallback
  packages/compiler/src/makeModuleSourceFile.ts
  packages/framework/src/FallbackModule.ts
  packages/framework/src/buildModules.ts
  packages/framework/src/index.ts
  packages/vite-plugin/src/virtual-modules.d.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

feat: building of html modules
  example/browser.ts
  example/compiler-test.ts
  example/server.ts
  example/test.ts
  packages/compiler/package.json
  packages/compiler/src/index.ts
  packages/compiler/src/makeBrowserModule.test.ts
  packages/compiler/src/makeBrowserModule.ts
  packages/compiler/src/makeHtmlModule.test.ts
  packages/compiler/src/makeHtmlModule.ts
  packages/compiler/src/runExpressApp.ts
  packages/compiler/src/ts-morph-helpers.ts
  packages/compiler/tsconfig.json
  packages/framework/src/RuntimeModule.ts
  packages/framework/src/index.ts
  packages/framework/src/makeServerWindow.ts
  packages/framework/src/runMatcherWithFallback.ts
  packages/framework/src/runPages.ts
  packages/framework/src/virtual-modules.d.ts
  packages/vite-plugin/src/index.ts
  pnpm-lock.yaml
  tools/updatePackages.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

feat: enable multiple entrypoints
  example/quux-browser.ts
  example/quux-pages/bar/bar.ts
  example/quux-pages/fallback.ts
  example/quux-pages/foo/foo.ts
  example/quux-pages/home.ts
  example/quux-pages/layout.ts
  example/quux-pages/react/counter.tsx
  example/quux.html
  example/server.ts
  package.json
  packages/compiler/src/buildServerEntrypoint.ts
  packages/compiler/src/getDirectories.ts
  packages/compiler/src/index.ts
  packages/compiler/src/makeBrowserModule.ts
  packages/compiler/src/makeHtmlModule.ts
  packages/compiler/src/makeRenderModule.test.ts
  packages/compiler/src/makeRenderModule.ts
  packages/compiler/src/makeServerWindow.ts
  packages/compiler/src/runExpressApp.ts
  packages/framework/src/HtmlModule.ts
  packages/framework/src/index.ts
  packages/framework/src/virtual-modules.d.ts
  packages/route/src/route.ts
  packages/router/src/router.ts
  packages/vite-plugin/src/vite-plugin.ts
  pnpm-lock.yaml
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

fix: ensure works in dev and prod
  example/quux-pages/layout.ts
  example/server.ts
  package.json
  packages/compiler/src/makeHtmlModule.ts
  vite.config.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

chore: remove logs
  packages/compiler/src/runExpressApp.ts
  packages/router/src/router.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

refactor: simplify server
  example/server.ts
  package.json
  packages/vite-plugin/src/vite-plugin.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

docs: update todos
  readme.md
Due: prettier --write --parser markdown --prose-wrap always

refactor: delete old files
  example/compiler-test.ts
  example/server-compiler-test.ts
  example/test.ts
  package.json
  packages/compiler/src/buildClientSideEntrypoint.ts
  packages/compiler/src/buildEntrypoint.ts
  packages/compiler/src/buildRenderableModule.ts
  packages/compiler/src/buildServerEntrypoint.ts
  packages/compiler/src/cli.ts
  packages/compiler/src/index.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

Path conditions:
  eslint --ext .js,.jsx,.ts,.tsx --fix: any of: *.{ts, tsx}
  prettier --write --parser markdown --prose-wrap always: any of: *.md
