Repository TylorS/typed: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .js,.jsx,.ts,.tsx --fix, prettier --write --parser markdown --prose-wrap always

.lintstagedrc:

{
  "*.{ts, tsx}": [
    "eslint --ext .js,.jsx,.ts,.tsx --fix"
  ],
  "*.md": [
    "prettier --write --parser markdown --prose-wrap always"
  ]
}

feat: support sibling component hydration with many
  .changeset/funny-knives-explain.md
  packages/template/src/Many.ts
  packages/template/src/Meta.ts
  packages/template/src/Test.ts
  packages/template/src/internal/HydrateContext.ts
  packages/template/src/internal/errors.ts
  packages/template/src/internal/hydrate.ts
  packages/template/src/internal/parser.ts
  packages/template/src/internal/render.ts
  packages/template/src/internal/utils.ts
  packages/template/test/Hydate.ts
  packages/ui/src/Props.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix, prettier --write --parser markdown --prose-wrap always

fix: type-sig for Fx.withEmitter
  packages/fx/src/Fx.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

feat(AsyncData): Optimistic updates + tests
  .changeset/rare-singers-judge.md
  packages/async-data/src/AsyncData.ts
  packages/async-data/src/Schema.ts
  packages/async-data/src/TypeId.ts
  packages/async-data/src/internal/async-data.ts
  packages/async-data/src/internal/tag.ts
  packages/async-data/test/index.ts
  packages/fx/src/AsyncData.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix, prettier --write --parser markdown --prose-wrap always

fix: update many to match Fx
  packages/template/src/Many.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

docs: update docs
  docs/async-data/AsyncData.ts.md
  docs/async-data/Schema.ts.md
  docs/async-data/TypeId.ts.md
  docs/dom/index.md
  docs/environment/index.md
  docs/fx/AsyncData.ts.md
  docs/fx/Emitter.ts.md
  docs/fx/Fx.ts.md
  docs/fx/index.md
  docs/id/index.md
  docs/navigation/index.md
  docs/path/index.md
  docs/route/index.md
  docs/router/index.md
  docs/template/Meta.ts.md
  docs/template/Test.ts.md
  docs/template/index.md
  docs/ui/Component.ts.md
  docs/ui/Link.ts.md
  docs/ui/Props.ts.md
  docs/ui/dom-properties.ts.md
  docs/ui/hyperscript.ts.md
  docs/ui/index.md
  docs/ui/index.ts.md
  docs/ui/useClickAway.ts.md
  docs/ui/usePagination.ts.md
  docs/wire/index.md
  packages/async-data/src/AsyncData.ts
  packages/async-data/src/Schema.ts
  packages/async-data/src/TypeId.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix, prettier --write --parser markdown --prose-wrap always

feat: static HTML rendering
  .changeset/sweet-carpets-smash.md
  packages/async-data/test/index.ts
  packages/template/src/Html.ts
  packages/template/src/HtmlChunk.ts
  packages/template/test/StaticHtml.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix, prettier --write --parser markdown --prose-wrap always

chore: upgrade deps
  examples/counter/package.json
  examples/todomvc/package.json
  package.json
  packages/navigation/package.json
  packages/template/package.json
  pnpm-lock.yaml
Due: none

chore: unnessecary code
  examples/todomvc/src/index.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

fix: ensure esm builds work natively
  packages/compiler/src/index.ts
  packages/fx/src/internal/operator.ts
  packages/template/src/internal/EventSource.ts
  packages/ui/src/hyperscript.ts
  packages/ui/src/useClickAway.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

fix: ensure throttle emits immediately
  .changeset/nice-vans-study.md
  packages/fx/src/internal/core.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix, prettier --write --parser markdown --prose-wrap always

feat: derive equivalence to avoid emitting duplicate events
  packages/fx/src/Form.ts
  packages/fx/src/FormEntry.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

chore: upgrade Effect deps
  .changeset/healthy-pots-kick.md
  examples/counter/package.json
  examples/fx-tracing/package.json
  examples/simple-ssr/package.json
  examples/todomvc/package.json
  package.json
  packages/async-data/package.json
  packages/context/package.json
  packages/core/package.json
  packages/decoder/package.json
  packages/dom/package.json
  packages/environment/package.json
  packages/fx/package.json
  packages/id/package.json
  packages/navigation/package.json
  packages/route/package.json
  packages/router/package.json
  packages/template/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Due: prettier --write --parser markdown --prose-wrap always

chore: update lock file
  pnpm-lock.yaml
Due: none

feat: upgrade to latest @effect/Schema
  .changeset/rich-bears-agree.md
  examples/counter/package.json
  examples/fx-tracing/package.json
  examples/simple-ssr/package.json
  examples/todomvc/package.json
  examples/todomvc/src/domain.ts
  package.json
  packages/async-data/package.json
  packages/async-data/src/Schema.ts
  packages/async-data/src/internal/async-data.ts
  packages/async-data/test/index.ts
  packages/context/package.json
  packages/core/package.json
  packages/decoder/package.json
  packages/decoder/src/index.ts
  packages/dom/package.json
  packages/dom/src/Storage.ts
  packages/environment/package.json
  packages/fx/package.json
  packages/fx/src/Form.ts
  packages/fx/src/FormEntry.ts
  packages/id/package.json
  packages/id/src/Schema.ts
  packages/navigation/package.json
  packages/navigation/src/Navigation.ts
  packages/route/package.json
  packages/router/package.json
  packages/template/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Due: eslint --ext .js,.jsx,.ts,.tsx --fix, prettier --write --parser markdown --prose-wrap always

refactor: simplify AsyncData schemas
  .changeset/nervous-parents-begin.md
  packages/async-data/src/Schema.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix, prettier --write --parser markdown --prose-wrap always

fix: ensure parsing larger SVGs works
  .changeset/six-ties-wave.md
  packages/template/src/internal/parser.ts
  packages/template/test/Parser.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix, prettier --write --parser markdown --prose-wrap always

feat: Navigation Form Integration
  .changeset/lucky-tips-reflect.md
  packages/navigation/package.json
  packages/navigation/src/Navigation.ts
  packages/navigation/src/internal/fromWindow.ts
  packages/navigation/src/internal/memory.ts
  packages/navigation/src/internal/shared.ts
  packages/navigation/test/Navigation.ts
  pnpm-lock.yaml
Due: eslint --ext .js,.jsx,.ts,.tsx --fix, prettier --write --parser markdown --prose-wrap always

Update readme.md
  readme.md
Due: prettier --write --parser markdown --prose-wrap always

chore: upgrade effect deps
  .changeset/fair-suns-begin.md
  examples/counter/package.json
  examples/fx-tracing/package.json
  examples/simple-ssr/package.json
  examples/todomvc/package.json
  package.json
  packages/async-data/package.json
  packages/async-data/src/Schema.ts
  packages/context/package.json
  packages/core/package.json
  packages/decoder/package.json
  packages/dom/package.json
  packages/environment/package.json
  packages/fx/package.json
  packages/id/package.json
  packages/navigation/package.json
  packages/route/package.json
  packages/router/package.json
  packages/template/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Due: eslint --ext .js,.jsx,.ts,.tsx --fix, prettier --write --parser markdown --prose-wrap always

chore: upgrade node version
  .github/workflows/main.yml
  .github/workflows/pr.yml
Due: none

docs: update docs
  docs/async-data/Schema.ts.md
  docs/compiler/index.ts.md
  docs/decoder/index.ts.md
  docs/dom/Storage.ts.md
  docs/fx/Form.ts.md
  docs/fx/FormEntry.ts.md
  docs/id/Schema.ts.md
  docs/navigation/Navigation.ts.md
Due: prettier --write --parser markdown --prose-wrap always

style: fix eslint issues
  packages/async-data/src/Schema.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

chore: upgrade deps
  .changeset/young-camels-smoke.md
  package.json
  packages/navigation/package.json
  packages/template/package.json
  pnpm-lock.yaml
Due: prettier --write --parser markdown --prose-wrap always

feat: add CoreDomServices alias
  packages/core/src/CoreServices.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

fix: use rootElement as parentElement when available
  packages/dom/src/DomServices.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

fix: some browsers make this readonly
  packages/navigation/src/internal/fromWindow.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

feat: initialize storybook preset
  .changeset/smart-fishes-sort.md
  examples/storybook/.storybook/main.js
  examples/storybook/.storybook/preview.js
  examples/storybook/package.json
  examples/storybook/stories/Link.stories.ts
  examples/storybook/tsconfig.build.json
  examples/storybook/tsconfig.json
  examples/storybook/vite.config.mts
  packages/storybook/.prettierignore
  packages/storybook/LICENSE
  packages/storybook/README.md
  packages/storybook/docgen.json
  packages/storybook/package.json
  packages/storybook/src/index.ts
  packages/storybook/src/preset.ts
  packages/storybook/src/renderToCanvas.ts
  packages/storybook/src/types.ts
  packages/storybook/tsconfig.build.json
  packages/storybook/tsconfig.examples.json
  packages/storybook/tsconfig.json
  packages/storybook/tsconfig.test.json
  packages/storybook/vitest.config.mts
  packages/ui/src/Link.ts
  pnpm-lock.yaml
  scripts/common.js
  scripts/new-package.sh
  tsconfig.base.json
  tsconfig.build.json
  tsconfig.json
  tsconfig.madge.json
Due: eslint --ext .js,.jsx,.ts,.tsx --fix, prettier --write --parser markdown --prose-wrap always

chore: add placeholder storybook test
  packages/storybook/test/index.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

docs: ensure all docs build
  docs/core/CoreServices.ts.md
  docs/storybook/index.md
  docs/storybook/index.ts.md
  docs/storybook/preset.ts.md
  docs/storybook/renderToCanvas.ts.md
  docs/storybook/types.ts.md
  docs/template/index.md
  docs/ui/index.md
  docs/wire/index.md
  packages/storybook/src/index.ts
  packages/storybook/src/preset.ts
  packages/storybook/src/renderToCanvas.ts
  packages/storybook/src/types.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix, prettier --write --parser markdown --prose-wrap always

fix: preview is required for rendering story
  .changeset/late-hats-mate.md
  packages/storybook/src/preview.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix, prettier --write --parser markdown --prose-wrap always

fix: ensure directives set value
  packages/template/src/internal/render.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

fix: ensure timestamps aren't changes and are configurable
  packages/async-data/src/AsyncData.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

feat: allow running optimistic workflows
  packages/fx/src/AsyncData.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

feat: UI separate useLink
  packages/ui/src/Link.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

feat: improve inference of params
  packages/router/src/CurrentRoute.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

fix: get requests should use urlParams
  packages/navigation/src/internal/shared.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

fix: better inference of placeholders
  packages/template/src/Placeholder.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

WIP: working on forms
  packages/fx/src/AsyncData.ts
  packages/fx/src/Form.ts
  packages/fx/src/FormEntry.ts
  packages/fx/src/RefSubject.ts
  packages/fx/src/index.ts
  packages/router/src/Matcher.ts
  packages/template/src/ElementRef.ts
  packages/template/src/ElementSource.ts
  packages/template/src/TemplateInstance.ts
  packages/template/src/internal/EventSource.ts
  packages/template/src/internal/hydrate.ts
  packages/template/src/internal/module-augmentation.ts
  packages/template/src/internal/render.ts
  packages/ui/src/Form.ts
  packages/ui/src/FormEntry.ts
  packages/ui/src/Input.ts
  packages/ui/src/Link.ts
  packages/ui/src/Portal.ts
  packages/ui/src/Select.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix
