Repository TylorS/typed: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .js,.jsx,.ts,.tsx --fix, prettier --write --parser markdown --prose-wrap always

fix(docs): allow compiler checks to finish on CI runners
  apps/website/src/docs/__tests__/BidirectionalIntegrationRecipes.test.ts
  apps/website/src/docs/__tests__/SourceCoverage.test.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

fix(docs): enable marble controls after listener setup
  apps/website/src/site/__tests__/MarblePlayback.test.ts
  apps/website/src/site/components/MarblePlayback.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

docs: update readme
  README.md
Due: prettier --write --parser markdown --prose-wrap always

docs: cooperative by design updates
  apps/website/content/guides/cooperative-by-design.md
Due: prettier --write --parser markdown --prose-wrap always

fix(docs): make cooperative design examples type-check
  apps/website/content/guides/cooperative-by-design.md
Due: prettier --write --parser markdown --prose-wrap always

fix(docs): use Effect.fn in save handler example
  apps/website/content/guides/cooperative-by-design.md
Due: prettier --write --parser markdown --prose-wrap always

refactor: improve WebComponent API
  apps/website/content/recipes/web-component.md
  packages/template/README.md
  packages/template/src/WebComponent.ts
  packages/template/src/__tests__/WebComponent.browser.test.ts
  packages/template/src/__tests__/WebComponent.test.ts
  packages/template/src/__tests__/WebComponent.type-test.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix, prettier --write --parser markdown --prose-wrap always

fix(react): recognize native component types and release beta.9
  examples/fullstack/README.md
  examples/fullstack/package.json
  examples/fullstack/test/production-smoke.test.mjs
  packages/astro/package.json
  packages/async-data/package.json
  packages/fx/package.json
  packages/guard/package.json
  packages/id/package.json
  packages/navigation/package.json
  packages/react/package.json
  packages/react/src/view.ts
  packages/router/package.json
  packages/svelte/package.json
  packages/template/package.json
  packages/tsconfig/package.json
  packages/ui/package.json
  packages/ui/src/__tests__/Dialog.browser.test.ts
  packages/vue/package.json
  pnpm-lock.yaml
Due: eslint --ext .js,.jsx,.ts,.tsx --fix, prettier --write --parser markdown --prose-wrap always

docs: link every homepage package to its documentation
  apps/website/src/site/pages/index.astro
  apps/website/src/site/styles.css
Due: none

fix(ci): isolate Playwright browser dependencies
  .github/workflows/deploy-pages.yml
  apps/website/package.json
  apps/website/test/deploy-pages-workflow.test.mjs
Due: none

docs: make Explore package lookup generic
  apps/website/src/site/__tests__/ExploreLookup.test.ts
  apps/website/src/site/pages/explore/index.astro
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

docs: align integration sections and defer SSR guide
  apps/website/src/site/__tests__/IntegrateIndex.test.ts
  apps/website/src/site/pages/integrate/index.astro
  apps/website/src/site/styles.css
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

docs: expand reactive guides and simplify search lifecycle
  apps/website/astro.config.ts
  apps/website/content/glossary/computed.md
  apps/website/content/glossary/fiber.md
  apps/website/content/glossary/fx.md
  apps/website/content/glossary/layer.md
  apps/website/content/glossary/push.md
  apps/website/content/glossary/refsubject.md
  apps/website/content/glossary/service.md
  apps/website/content/glossary/versioned.md
  apps/website/content/guides/async-data-requests-and-cache.md
  apps/website/content/guides/authoring-typed-templates.md
  apps/website/content/guides/building-fx.md
  apps/website/content/guides/composing-fx.md
  apps/website/content/guides/composing-refsubject-state.md
  apps/website/content/guides/fx-higher-order-and-concurrency.md
  apps/website/content/guides/fx-push-reactivity.md
  apps/website/content/guides/fx-services-and-lifetime.md
  apps/website/content/guides/fx-time-and-rate.md
  apps/website/content/guides/integrating-matcher-with-effect-http.md
  apps/website/content/guides/refsubject-renderer-independent-state.md
  apps/website/content/guides/refsubject-sources-equality-and-lifetime.md
  apps/website/content/guides/routing-routes-matchers-and-navigation.md
  apps/website/content/guides/server-rendering-and-hydration.md
  apps/website/content/guides/shared-state-contracts.md
  apps/website/content/guides/sink-writing-effects.md
  apps/website/content/guides/specialized-refsubject-state.md
  apps/website/content/guides/state-transactions-and-bidirectional-views.md
  apps/website/content/guides/subject-event-publications.md
  apps/website/content/guides/template-element-bindings.md
  apps/website/content/guides/ui-http-router.md
  apps/website/content/guides/versioned-state.md
  apps/website/content/tutorial/10-test-the-boundaries.md
  apps/website/src/docs/__tests__/BuildingFxGuide.test.ts
  apps/website/src/docs/__tests__/CurriculumFiles.test.ts
  apps/website/src/docs/__tests__/ReactiveServicesGuide.test.ts
  apps/website/src/docs/__tests__/RefSubjectStateCurriculum.test.ts
  apps/website/src/docs/__tests__/VersionedGuide.test.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix, prettier --write --parser markdown --prose-wrap always

fix(ci): validate canonical HttpRouter guide
  apps/website/content/guides/building-fx.md
  apps/website/src/docs/__tests__/PublicUiGuides.test.ts
  apps/website/src/site/Guides.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix, prettier --write --parser markdown --prose-wrap always

ci: streamline Pages deployment checks
  .github/workflows/deploy-pages.yml
  apps/website/package.json
  apps/website/test/deploy-pages-workflow.test.mjs
Due: none

fix(docs): generate warning-free TodoMVC lessons
  apps/website/scripts/generate-todomvc.ts
  apps/website/src/tutorial/examples/todo-2/src/application.ts
  apps/website/src/tutorial/examples/todo-4/src/infrastructure.ts
  apps/website/src/tutorial/examples/todo-4/src/presentation.ts
  apps/website/src/tutorial/examples/todo-5/src/infrastructure.ts
  apps/website/src/tutorial/examples/todo-5/src/presentation.ts
  apps/website/src/tutorial/examples/todo-6/src/infrastructure.ts
  apps/website/src/tutorial/examples/todo-6/src/presentation.ts
  apps/website/src/tutorial/examples/todo-7/src/infrastructure.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

fix(packages): peer-depend on effect
  packages/astro/package.json
  packages/async-data/package.json
  packages/fx/package.json
  packages/guard/package.json
  packages/id/package.json
  packages/navigation/package.json
  packages/react/package.json
  packages/router/package.json
  packages/svelte/package.json
  packages/template/package.json
  packages/ui/package.json
  packages/vue/package.json
  pnpm-lock.yaml
  scripts/publish-beta.sh
Due: none

chore(release): publish beta.12
  packages/astro/package.json
  packages/async-data/package.json
  packages/fx/package.json
  packages/guard/package.json
  packages/id/package.json
  packages/navigation/package.json
  packages/react/package.json
  packages/router/package.json
  packages/svelte/package.json
  packages/template/package.json
  packages/tsconfig/package.json
  packages/ui/package.json
  packages/vue/package.json
  scripts/publish-beta.sh
Due: none

fix: pre-resolve nodes
  packages/template/src/Render.ts
  packages/template/src/__tests__/Render.part-paths.browser.test.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

chore: add link to discord back
  README.md
  packages/astro/package.json
  packages/async-data/package.json
  packages/fx/package.json
  packages/guard/package.json
  packages/id/package.json
  packages/navigation/package.json
  packages/react/package.json
  packages/router/package.json
  packages/svelte/package.json
  packages/template/package.json
  packages/tsconfig/package.json
  packages/ui/package.json
  packages/vue/package.json
Due: prettier --write --parser markdown --prose-wrap always

chore(release): prepare beta.14 with stable Effect v4
  apps/website/content/guides/async-data-requests-and-cache.md
  apps/website/content/guides/integrating-matcher-with-effect-http.md
  apps/website/content/learn/01-install.md
  apps/website/content/recipes/astro.md
  apps/website/content/recipes/fetch-schema.md
  apps/website/content/recipes/html-output.md
  apps/website/content/recipes/react.md
  apps/website/content/recipes/svelte.md
  apps/website/content/recipes/vue.md
  apps/website/content/recipes/web-component.md
  apps/website/content/recipes/web-workers.md
  apps/website/content/recipes/websocket.md
  apps/website/content/tutorial/04-render-the-shell.md
  apps/website/package.json
  apps/website/src/docs/__tests__/RecipeCompilation.test.ts
  examples/fullstack/src/host.ts
  examples/fullstack/src/server.ts
  packages/astro/package.json
  packages/async-data/package.json
  packages/fx/package.json
  packages/guard/package.json
  packages/id/package.json
  packages/navigation/package.json
  packages/react/package.json
  packages/router/package.json
  packages/svelte/package.json
  packages/template/package.json
  packages/template/src/Html.ts
  packages/template/src/Render.ts
  packages/template/src/internal/dom.ts
  packages/tsconfig/package.json
  packages/ui/README.md
  packages/ui/package.json
  packages/ui/src/HttpRouter.ts
  packages/ui/src/__tests__/HttpRouter.security.test.ts
  packages/ui/src/__tests__/HttpRouter.test.ts
  packages/ui/src/__tests__/http-router.type-test.ts
  packages/vue/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint --ext .js,.jsx,.ts,.tsx --fix, prettier --write --parser markdown --prose-wrap always

Path conditions:
  eslint --ext .js,.jsx,.ts,.tsx --fix: any of: *.{ts, tsx}
  prettier --write --parser markdown --prose-wrap always: any of: *.md
