Repository TylorS/typed: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .js,.jsx,.ts,.tsx --fix, prettier --write --parser markdown --prose-wrap always

feat: add example of rendering React
  examples/bootstrap.ts
  examples/compiler-test.ts
  examples/components/react-counter.tsx
  examples/index.html
  examples/pages/layout.ts
  examples/pages/react/counter.tsx
  examples/tsconfig.json
  package.json
  packages/compiler/src/buildClientSideEntrypoint.ts
  packages/framework/src/framework.ts
  packages/html/src/render.ts
  packages/router/src/RouteMatcher.ts
  pnpm-lock.yaml
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

refactor: remove log
  examples/bootstrap.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

docs: add todo comment
  examples/pages/react/counter.tsx
Due: none

refactor: make react counter more consisent
  examples/components/react-counter.tsx
Due: none

chore: add real debug logs
  packages/router/src/RouteMatcher.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

chore: lazy-load react too
  examples/pages/react/counter.tsx
Due: none

docs: add some code comments
  examples/pages/react/counter.tsx
Due: none

refactor: remove useless log
  examples/server.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

refactor: move to example dir with vavite
  example/client.ts
  example/compiler-test.ts
  example/components/counter-with-service.ts
  example/components/react-counter.tsx
  example/index.html
  example/pages/bar/bar.ts
  example/pages/fallback.ts
  example/pages/foo/foo.ts
  example/pages/home.ts
  example/pages/layout.ts
  example/pages/react/counter.tsx
  example/server.ts
  example/tsconfig.json
  examples/server.ts
  package.json
  packages/compiler/package.json
  packages/compiler/src/buildExpressEntrypoint.ts
  packages/compiler/src/cli.ts
  packages/compiler/src/index.ts
  packages/compiler/src/lazyExpressHandler.ts
  packages/compiler/src/makeServerWindow.ts
  packages/compiler/src/scanSourceFiles.test.ts
  packages/compiler/src/vite-dev-server.d.ts
  packages/compiler/tsconfig.json
  packages/framework/package.json
  packages/framework/src/runPages.ts
  packages/framework/tsconfig.json
  packages/router/src/router.ts
  pnpm-lock.yaml
  tsconfig.base.json
  vite.config.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

fix: handle redirects better in the server
  example/server.ts
  packages/framework/src/provideIntrinsics.ts
  packages/framework/src/runPages.ts
  packages/router/src/RouteMatcher.ts
  vite.config.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

fix: ensure server works once built
  example/index.html
  example/pages/layout.ts
  example/server.ts
  package.json
  vite.config.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

refactor: add log after server starts
  example/server.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

feat: add cache to the static assets
  example/server.ts
  package.json
  pnpm-lock.yaml
  vite.config.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

refactor: switch to vite plugin
  example/browser.ts
  example/client.ts
  example/compiler-test.ts
  example/components/counter-with-service.ts
  example/index.html
  example/package.json
  example/pages/bar/bar.ts
  example/pages/fallback.ts
  example/pages/foo/foo.ts
  example/pages/home.ts
  example/pages/layout.ts
  example/pages/react/counter.tsx
  example/server.ts
  example/tsconfig.json
  package.json
  packages/compiler/package.json
  packages/compiler/src/buildClientSideEntrypoint.ts
  packages/compiler/src/buildEntrypoint.ts
  packages/compiler/src/buildExpressEntrypoint.ts
  packages/compiler/src/cli.ts
  packages/compiler/src/getDirectories.ts
  packages/compiler/src/index.ts
  packages/compiler/src/readIndexHtml.ts
  packages/compiler/src/runExpressApp.ts
  packages/compiler/src/setupTsProject.ts
  packages/compiler/src/vavite.d.ts
  packages/compiler/tsconfig.json
  packages/framework/src/Module.ts
  packages/framework/src/scanPages.test.ts
  packages/html/src/fx.d.ts
  packages/html/src/index.ts
  packages/vite-plugin/package.json
  packages/vite-plugin/src/browser.ts
  packages/vite-plugin/src/server.ts
  packages/vite-plugin/src/vite-plugin.ts
  packages/vite-plugin/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tsconfig.base.json
  vite.config.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

fix: ensure vite works in dev and build mode
  package.json
  packages/compiler/src/setupTsProject.ts
  packages/fx/package.json
  packages/vite-plugin/src/vite-plugin.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

fix: ensure build and server really work
  package.json
  packages/vite-plugin/src/vite-plugin.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

chore: add examples of the compiler output
  example/compiler-test.ts
  example/server-compiler-test.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

refactor: remove all the old code
  packages/fx/src/_internal/earlyExit.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

fix: remove the exclude of Redirect
  packages/router/src/RouteMatcher.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

fix: correct signature of earlyExit
  packages/fx/src/_internal/earlyExit.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

example: use Link component, avoid re-fetching hole context
  example/pages/bar/bar.ts
  example/pages/layout.ts
  packages/compiler/src/runExpressApp.ts
  packages/framework/src/Link.ts
  packages/framework/src/index.ts
  packages/html/src/render.ts
  packages/router/src/router.ts
  packages/vite-plugin/src/vite-plugin.ts
  vite.config.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

refactor: debounce isn't actually necessary
  packages/router/src/router.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

feat: Link from Router package
  example/pages/bar/bar.ts
  example/pages/home.ts
  example/pages/layout.ts
  example/pages/react/counter.tsx
  packages/framework/src/Link.ts
  packages/framework/src/index.ts
  packages/router/src/Link.ts
  packages/router/src/index.ts
  packages/router/src/router.ts
  packages/vite-plugin/src/vite-plugin.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

feat: update and version all packages
  example/package.json
  package.json
  packages/benchmark/package.json
  packages/compiler/package.json
  packages/context/package.json
  packages/dom/package.json
  packages/framework/package.json
  packages/fx/package.json
  packages/html/package.json
  packages/internal/package.json
  packages/node/eslintrc.json
  packages/node/package.json
  packages/node/project.json
  packages/node/src/index.ts
  packages/node/src/node.ts
  packages/node/tsconfig.build.json
  packages/node/tsconfig.json
  packages/nx-plugin/package.json
  packages/path/package.json
  packages/route/package.json
  packages/router/package.json
  packages/vite-plugin/package.json
  pnpm-lock.yaml
  tools/updatePackages.ts
  tsconfig.base.json
  tsconfig.json
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

docs: update readme
  readme.md
Due: prettier --write --parser markdown --prose-wrap always

docs: add mention of vite plugin
  readme.md
Due: prettier --write --parser markdown --prose-wrap always

refactor: upgrade to latest Effect operators
  packages/fx/src/constructor/acquireUseRelease.ts
  packages/fx/src/constructor/fromEffect.ts
  packages/fx/src/constructor/fromEmitter.ts
  packages/fx/src/constructor/fromFxEffect.ts
  packages/fx/src/constructor/promiseFx.ts
  packages/fx/src/constructor/scheduled.ts
  packages/fx/src/operator/filterEffect.ts
  packages/fx/src/operator/filterMapEffect.ts
  packages/fx/src/operator/onDoneCause.ts
  packages/fx/src/operator/onInterrupt.ts
  packages/fx/src/operator/provideServiceEffect.ts
  packages/fx/src/operator/provideSomeLayer.ts
  packages/fx/src/operator/scanEffect.ts
  packages/fx/src/operator/snapshotEffect.ts
  packages/fx/src/operator/startWithEffect.ts
  packages/fx/src/operator/tapCause.ts
  packages/fx/src/run/run.ts
  packages/fx/src/run/unsafe.ts
  packages/html/src/parseUpdates.ts
  packages/route/src/index.ts
  packages/router/src/router.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

chore: make example private
  example/package.json
Due: none

Publish
  packages/benchmark/package.json
  packages/compiler/package.json
  packages/context/package.json
  packages/dom/package.json
  packages/framework/package.json
  packages/fx/package.json
  packages/html/package.json
  packages/internal/package.json
  packages/nx-plugin/package.json
  packages/path/package.json
  packages/route/package.json
  packages/router/package.json
  pnpm-lock.yaml
Due: none

chore: update publish configs
  packages/benchmark/package.json
  packages/compiler/package.json
  packages/context/package.json
  packages/dom/package.json
  packages/framework/package.json
  packages/fx/package.json
  packages/html/package.json
  packages/internal/package.json
  packages/nx-plugin/package.json
  packages/path/package.json
  packages/route/package.json
  packages/router/package.json
  packages/vite-plugin/package.json
  tools/updatePackages.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

Publish
  packages/benchmark/package.json
  packages/compiler/package.json
  packages/context/package.json
  packages/dom/package.json
  packages/framework/package.json
  packages/fx/package.json
  packages/html/package.json
  packages/internal/package.json
  packages/nx-plugin/package.json
  packages/path/package.json
  packages/route/package.json
  packages/router/package.json
Due: none

Publish
  packages/benchmark/package.json
  packages/compiler/package.json
  packages/context/package.json
  packages/dom/package.json
  packages/framework/package.json
  packages/fx/package.json
  packages/html/package.json
  packages/internal/package.json
  packages/path/package.json
  packages/route/package.json
  packages/router/package.json
  packages/vite-plugin/package.json
Due: none

fix: update entrypoint to latest effect
  packages/compiler/src/buildClientSideEntrypoint.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

Publish
  packages/compiler/package.json
  packages/vite-plugin/package.json
Due: none

fix: ensure entrypoints build even without modules
  packages/compiler/src/buildClientSideEntrypoint.ts
  packages/compiler/src/buildExpressEntrypoint.ts
  packages/router/src/RouteMatcher.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

chore: update package.json's
  package.json
  packages/benchmark/package.json
  packages/compiler/package.json
  packages/context/package.json
  packages/dom/package.json
  packages/framework/package.json
  packages/fx/package.json
  packages/html/package.json
  packages/internal/package.json
  packages/nx-plugin/package.json
  packages/path/package.json
  packages/route/package.json
  packages/router/package.json
  pnpm-lock.yaml
Due: none

Publish
  packages/benchmark/package.json
  packages/compiler/package.json
  packages/context/package.json
  packages/dom/package.json
  packages/framework/package.json
  packages/fx/package.json
  packages/html/package.json
  packages/internal/package.json
  packages/nx-plugin/package.json
  packages/path/package.json
  packages/route/package.json
  packages/router/package.json
  packages/vite-plugin/package.json
  pnpm-lock.yaml
Due: none

feat: throw when unable to create entrypoint
  packages/vite-plugin/src/vite-plugin.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

fix: handle failed entrypoint generation
  packages/vite-plugin/src/vite-plugin.ts
Due: eslint --ext .js,.jsx,.ts,.tsx --fix

Path conditions:
  eslint --ext .js,.jsx,.ts,.tsx --fix: any of: *.{ts, tsx}
  prettier --write --parser markdown --prose-wrap always: any of: *.md
